<div class="container tablet-width">

  <hgroup>
    <h1 class="preserve-case">npm Enterprise</h1>
    <h2>Two ways to get started</h2>
  </hgroup>

  <section>
    <h2>Option 1: Download now</h2>

    <p>To immediately download and try npmE, please read and agree to our User License Agreement.</p>

    <div class="scroll-beyond-300">{{> license-text}}</div>

    <form accept-charset="UTF-8" action="/enterprise-trial-signup" method="POST">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <input type="hidden" id="customer_email" name="customer_email" value="{{customer_email}}">
      <input type="hidden" id="customer_id" name="customer_id" value="{{customer_id}}">
      <label for="agree" class="preserve-case">
        <input type="checkbox" required="required" id="agree" name="agree"> I agree to the npm Enterprise ULA
      </label>
      <input class="full-width" type="submit" value="Agree to license">
    </form>
  </section>

  <section>
    <h2>Option 2: Start a conversation</h2>

    <p>If you have further questions before beginning your trial, or your company has different licensing requirements, click the button below and we'll contact you by email within 1 working day.</p>

    <form accept-charset="UTF-8" action="/enterprise-contact-me" method="POST">
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      <input type="hidden" id="contact_customer_email" name="contact_customer_email" value="{{customer_email}}">
      <input type="hidden" id="contact_customer_id" name="contact_customer_id" value="{{customer_id}}">
      <input class="full-width" type="submit" value="Contact me">
    </form>
  </section>

</div>
