<div class="container tablet-width">

  <hgroup>
    <h1>npm Enterprise</h1>
    <h2>Signup complete. Time to install!</h2>
  </hgroup>

  <p>Thank you for trying out npm Enterprise. To get started, make sure you have a fresh machine that meets the
    <a href="{{requirementsUrl}}">installation requirements</a>, then
    simply run:</p>

  <pre><code class="lang-bash">sudo npm install npme -g</code></pre>

  <p>Once installation is complete visit
    https://your-server-address:8800 and bypass the security warning. You will
    be presented with a management UI which allows you to configure your npmE appliance.
  </p>

  <p>During the configuration process you will be prompted for your email and license key:</p>

  <pre><code>Billing email: {{email}}
License key: {{license_key}}</code></pre>

  <p>The management console allows you to fetch updates, perform backups,
    and configure your npmE appliance.
    For help with configuring npmE, please refer to the
    <a href="{{instructionsUrl}}">npm Enterprise documentation</a>. If you
    have any trouble, you can also always contact
    <a href="mailto:{{supportEmail}}">{{supportEmail}}</a>.</p>

  <p>Once you've configured everything, npmE will be up and running on
    https://your-server-address:8080.
  </p>

  <p>A copy of your license key and these instructions has been emailed to
  {{email}}.</p>

  {{#if mail}}
  {{{mail}}}
  {{/if}}

</div>
