<div class="main narrow">
  {{#if user.email_verified}}
  <h1>add {{team.name}} users</h1>
  <div>
    <form method="POST" id="add-user-to-team-form" action="/org/{{orgScope}}/team/{{team.name}}">
      <section>
        <div class="team-selector-container">
          <label class="custom-select-label" for="teams"><span>Populate from existing team</span></label>
          <div class="dropdown">
            <select class="custom" name="teams">
              <option value="_none_" selected="selected">None</option>
              {{#each orgTeams }}
              <option value="{{name}}">{{name}}</option>
              {{/each}}
            </select>
          </div>
        </div>
      </section>
        <section>
          <fieldset>
          <legend>invite additional members</legend>
          <input type="text" name="member" class="inline-input" id="add-member-input"/>
          <button id="add-member-to-list" class="button btn-inline btn-secondary add-member-btn" type="button">add</button>
          </fieldset>
        </section>
        <section>
          <div class="members-to-add">
            <div class="member-header">
              <div class="add-count">
                <span class="add-number">0</span>
                <span class="unit">Users</span>
              </div>
              <button id="remove-all-added" type="button">remove all</button>
            </div>
            <ul class="members-list">
            </ul>
          </div>
        </section>

        <input type="hidden" name="updateType" value="addUsersToTeam"/>
        {{> form_security}}
        <button class="button" type="submit">Make it so</button>
        <a href="/org/{{org}}">cancel</a>

      </form>

  </div>
  {{else}}
    {{> email-verify-nag}}
  {{/if}}
</div><!--/.main-->
