<div class="container">

  <hgroup class="breadcrumb">
    <h3><a href="/org/{{orgName}}">@{{orgName}}</a> /</h3>
    <h1>{{teamName}}</h1>
    <h4 class="description">{{description}}</h4>
  </hgroup>

  <div class="tabs">
    <div class="tab-nav-container">
      <div class="nav-container nav-4-container">
        <ul class="nav nav-4 clear" role="navigation">
          <li class="current"><a href="#packages">{{pluralize packages.count "package" true}}</a></li>
          <li><a href="#members">{{pluralize members.count "member" true}}</a></li>
          {{#if perms.isAtLeastTeamAdmin}}
            <li><a href="#settings">settings</a></li>
          {{/if}}
        </ul>
      </div>
    </div>

    <div id="packages" class="tab tab-1">
      <div class="org-info-header-container">
      <h2>{{pluralize packages.count "package" true}}</h2>
      {{#if perms.isAtLeastTeamAdmin}}
        <a class="button" href="/org/{{orgName}}/team/{{teamName}}/add-package">add packages</a>
      {{/if}}
      </div>

      {{#if packages.count}}
      <table class="org-table org-packages">
        <thead>
          <tr>
            <th>
              package name
            </th>
            <th>author</th>
            <th>date added</th>
            {{#if perms.isAtLeastTeamAdmin }}
            <th>access</th>
            <th>action</th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
        {{#each packages.items}}
          <tr>
            <td>
              <div>
                {{#if private}}
                  <i class="icon-lock"></i>
                {{/if}}
                <span class="name">
                  <a class="packagename" href="/package/{{name}}">{{name}}</a>
                </span><!--/.name-->
              </div>
            </td>
            <td>author</td>
            <td>date</td>
            {{#if ../../perms.isAtLeastTeamAdmin }}
            <td>
              <form method="POST" id="org-user-update-{{@index}}" action="/org/{{../../orgName}}/team/{{../../teamName}}" class="edit-write-permission">
                <div class="switch-container">
                  <label><span class="a11y-only">Write Permission</span>
                    <input class="switch" {{#if canWrite}}checked="checked"{{/if}} type="checkbox" name="writePermission">
                    <div class="switch"></div>
                    <span class="switch-label unchecked-text" aria-hidden="true">Read-Only</span>
                    <span class="switch-label checked-text" aria-hidden="true">Read/Write</span>
                  </label>
                </div>
                {{#with ../../this}}
                {{> form_security }}
                {{/with}}
                <input type="hidden" name="name" value="{{name}}" />
                <input type="hidden" name="updateType" value="updateWritePermissions" />
                <button type="submit" class="edit-write-permissions-save"><span>Save</span></button> <!-- kill this Roq! -->
              </form>
            </td>
            <td>
                <form method="POST" id="team-package-delete-overview-{{@index}}" action="/org/{{../../orgName}}/team/{{../../teamName}}">
                  {{#with ../../this}}
                  {{> form_security }}
                  {{/with}}
                  <input type="hidden" name="name" value="{{name}}" />
                  <input type="hidden" name="updateType" value="removePackage" />
                  <button type="submit" class="delete-user icon-x"><span class="a11y-only">Remove Package {{name}} from {{../../teamName}}</span></button>
              </form>
            </td>
            {{/if}}
          </tr>
        {{/each}}
        </tbody>
      </table>
      {{/if}}
    </div><!--/#packages-->

    <div id="members" class="tab tab-2">
      <div class="org-info-header-container">
        <h2>{{pluralize members.count "active members" true}}</h2>
        {{#if perms.isAtLeastTeamAdmin}}
          <a class="button" href="/org/{{orgName}}/team/{{teamName}}/add-user">add members</a>
        {{/if}}
      </div>

      {{#if members.count}}
      <table class="org-table org-users">
        <thead>
          <tr>
            <th>name</th>
            <th>role</th>
            <th>date added</th>
            {{#if perms.isAtLeastTeamAdmin }}
            <th>status</th>
            <th>action</th>
            {{/if}}
          </tr>
        </thead>
        <tbody>
        {{#each members.items}}
          <tr>
            <td>
                <span class="avatar-small">
                  <img src="{{avatar.small}}" />
                </span>
                <ul class="name-desc vanilla-list ellipsis">
                  <li><a class="name" href="/~{{name}}">{{name}}</a></li>
                  {{#if resource.fullname}}
                  <li><span class="display-name">{{resource.fullname}}</span></li>
                  {{/if}}
                </ul><!--/.name-->
            </td>
            <td>{{role}}</td>
            <td>date added</td>
            {{#if ../perms.isAtLeastTeamAdmin }}
            <td>{{#if ../sponsored}}active{{else}}inactive{{/if}}</td>
            <td>
                <form method="POST" id="team-user-delete-overview-{{@index}}" action="/org/{{../../orgName}}/team/{{../../teamName}}">
                  {{#with ../../../this}}
                  {{> form_security }}
                  {{/with}}
                  <input type="hidden" name="name" value="{{../name}}" />
                  <input type="hidden" name="updateType" value="removeUser" />
                  <button type="submit" class="delete-user icon-x"><span class="a11y-only">Remove User {{../name}} from {{../../teamName}}</span></button>
              </form>
            </td>
            {{/if}}
          </tr>
        {{/each}}
        </tbody>
      </table>
      {{/if}}
    </div><!--/#members-->

    {{#if perms.isAtLeastTeamAdmin}}
      <div id="settings" class="tab tab-3">
        <h2>settings</h2>

        <form method="POST" id="team-settings" action="/org/{{orgName}}/team/{{teamName}}">
          {{!-- <label for="team-human-readable">team name</label>
          <input id="team-human-readable" name="team-name"/> --}}
          <label for="team-description">description</label>
          <input id="team-description" name="team-description" type="text" value="{{description}}" />
          {{> form_security }}
          <input type="hidden" name="updateType" value="updateInfo" />
          <button type="submit" class="button">Make it so.</button>
        </form>
      </div><!--/#settings-->
    {{/if}}

  </div><!--tabs-->
</div>
