{{> package-secondary-nav package}}

{{#with package}}

<div class="content">

  <div class="markdown">
    <h1>{{name}}</h1>
    <p class="package-description">{{description}}</p>
  </div>

  <h2>Access</h2>

  {{#if private}}
    <p class="notice">
      The {{name}} package is <em>private</em>. Only the users below can access it.
      <a href="#">Make it public...</a>
    </p>
  {{else}}
    <p class="notice">
      The {{name}} package is <em>public</em>. Anyone can read it, and only the users below can write.
      <a href="#">Make it private...</a>
    </p>
  {{/if}}

  <h2>Collaborators</h2>

  <table class="ruled humans">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>User</th>
        <th>Access</th>
        <th>Revoke</th>
      </tr>
    </thead>
    <tbody>

      {{#each collaborators}}
        <tr>
          <td class="avatar">
            <a href="/~{{name}}">
              <img src="{{avatar.small}}" alt="{{username}}" />
            </a>
          </td>
          <td class="name">
            <a href="/~{{name}}">{{fullname}}</a>
          </td>
          <td class="access">
            <label class="glamorous">
              <input type="radio" name="access-{{fullname}}" value="read-only" {{#if read_only}}checked="checked"{{/if}}>
              <span>read-only</span>
            </label>

            <label class="glamorous">
              <input type="radio" name="access-{{fullname}}" value="read-write" {{#unless read_only}}checked="checked"{{/unless}}>
              <span>read-write</span>
            </label>
          </td>
          <td>
            <a href="#" class="delete-icon delete-collaborator">✖</a>
          </td>
        </tr>
      {{/each}}

      <tr>
        <td class="avatar">
          {{!-- <a href="/~{{name}}">
            <img src="/static/images/wombat-avatar-small.png" />
          </a> --}}
        </td>
        <td>
          <input type="text" name="collaborator" value="" placeholder="Add another collaborator...">
        </td>
      </tr>

    </tbody>
  </table>

  <ul>

  </ul>


</div>

{{/with}}
