{{> package-header package}}

<div class="tablet-width container">

  {{#unless user}}
    <p class="notice please-log-in">
      To configure access to this package, please <a href="/login">log in</a>.
    </p>
  {{/unless}}

  {{#if package.scoped}}
    <div class="centered">
      <input
        type="checkbox"
        class="toggle"
        id="package-access-toggle"
        value="private"
        {{#unless user.hasWriteAccessToPackage}}disabled="disabled"{{/unless}}
        {{#if package.private}}checked="checked"{{/if}} >
      <label for="package-access-toggle"><span></span></label>
    </div>
  {{/if}}

  <table class="ruled humans" id="collaborators">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>User</th>
        <th>Access</th>
        <th>Revoke</th>
      </tr>
    </thead>
    <tbody>

      {{#each package.collaborators}}
        <tr class="collaborator">
          <td class="avatar">
            <a href="/~{{name}}">
              <img src="{{avatar.small}}" alt="{{name}}" />
            </a>
          </td>
          <td class="name">
            <a href="/~{{name}}">{{name}}</a>
          </td>
          <td class="access">
            <label class="wrapping-hidden-radio">
              <input
                type="radio"
                name="access-{{name}}"
                value="read-only"
                {{#unless write}}checked="checked"{{/unless}}
                {{#unless ../enablePermissionTogglers}} disabled="disabled" {{/unless}}>
              <span>read-only</span>
            </label>

            <label class="wrapping-hidden-radio">
              <input
                type="radio"
                name="access-{{name}}"
                value="read-write"
                {{#if write}}checked="checked"{{/if}}
                {{#unless ../enablePermissionTogglers}} disabled="disabled" {{/unless}}>
              <span>read-write</span>
            </label>
          </td>
          <td>
            {{#if ../user.hasWriteAccessToPackage}}
              <a href="#" class="delete-icon delete-collaborator">✖</a>
            {{/if}}
          </td>
        </tr>
      {{/each}}

      {{#if user.hasWriteAccessToPackage}}
        <tr>
          <td>
            &nbsp;
          </td>
          <td colspan="1">
            <form id="add-collaborator">
              <input type="hidden" name="package" value="{{package.encodedName}}">
              <input type="text" name="collaborator" value="" placeholder="Add a collaborator...">
            </form>
          </td>
        </tr>
      {{/if}}

    </tbody>
  </table>

</div>
