

{{#with package}}

{{> package-header this}}

<div class="tablet-width container">

  <div class="centered">
    <input type="checkbox" class="toggle" value="private" {{#if private}}checked="checked"{{/if}} id="package-access-toggle">
    <label for="package-access-toggle"><span></span></label>
  </div>

  <table class="ruled humans">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>User</th>
        <th>Access</th>
        <th>Revoke</th>
      </tr>
    </thead>
    <tbody>

      {{#each collaborators}}
        <tr>
          <td class="avatar">
            <a href="/~{{name}}">
              <img src="{{avatar.small}}" alt="{{name}}" />
            </a>
          </td>
          <td class="name">
            <a href="/~{{name}}">{{name}}</a>
          </td>
          <td class="access">
            <label class="glamorous">
              <input type="radio" name="access-{{name}}" value="read-only" {{#unless write}}checked="checked"{{/unless}}>
              <span>read-only</span>
            </label>

            <label class="glamorous">
              <input type="radio" name="access-{{name}}" value="read-write" {{#if write}}checked="checked"{{/if}}>
              <span>read-write</span>
            </label>
          </td>
          <td>
            <a href="#" class="delete-icon delete-collaborator">✖</a>
          </td>
        </tr>
      {{/each}}

      <tr>
        <td>
          &nbsp;
        </td>
        <td colspan="1">
          <input type="text" name="collaborator" value="" placeholder="Add a collaborator...">
        </td>
      </tr>

    </tbody>
  </table>

</div>

{{/with}}
