{{#with package}}

<div class="content-column">

  <h1 class="package-name">
    <a href="/package/{{name}}">{{name}}</a>
    {{#if private}}
      <i class="icon-private"></i>
    {{else}}
      <i class="icon-public"></i>
    {{/if}}
  </h1>
  <p class="package-description">{{description}}</p>

  <form class="star">
    <input type="hidden" name="name" value="{{name}}">
    <input id="star-input" type="checkbox" name="isStarred" value="true" {{#if isStarred}}checked{{/if}}>
    <label for="star-input" class="icon-star"></label>
    {{> form_security ..}}
  </form>

  <div id="readme" class="markdown">
    {{#if readme}}
      {{{readme}}}
    {{else}}
      <p>
        Sadly, this package has no readme.
        {{#if repository.url}}
          <a href="{{repository.url}}">Go write one!</a>
        {{/if}}
      </p>
    {{/if}}
  </div>

</div>

<div class="sidebar">
  {{#if marketing}}
    <div class="marketing">{{{marketing}}}</div>
  {{/if}}

  {{#if installCommand}}
    <div class="autoselect-wrapper npm-install icon-download">
      <input type="text" value="{{installCommand}}" readonly>
      <p><a href="/package/{{name}}/tutorial">how? learn more</a></p>
    </div>
  {{/if}}

	<ul class="box">
    {{#if publisher}}
      <li class="last-publisher">
        {{#unless ../../features.npmo}}
          <a href="/~{{publisher.name}}">
            <img src="{{publisher.avatar.medium}}" alt="{{publisher.name}}" />
            <span>{{publisher.name}}</span>
          </a>
        {{else}}
          <span>
            <img src="{{publisher.avatar.medium}}" alt="{{publisher.name}}" />
            <strong>{{publisher.name}}</strong>
          </span>
        {{/unless}}
        {{#if lastPublishedAt}}
          published
          <span data-date="{{lastPublishedAt}}" data-date-format="relative">
            {{lastPublishedAt}}
          </span>
        {{/if}}
      </li>
    {{/if}}

    <li>
      <strong>{{version}}</strong>
      is the latest
      {{#if singleVersion}}
        release
      {{else}}
        of {{versionsCount}} releases
      {{/if}}
    </li>

    {{#if repository.url}}
      <li>
        <a href="{{repository.url}}">{{schemeless repository.url}}</a>
      </li>
    {{/if}}

    {{#if homepage}}
      <li>
        <a href="{{homepage}}">{{schemeless homepage}}</a>
      </li>
    {{/if}}

    {{#if license}}
      <li>
        {{#if license.links}}
          {{{license.links}}}
        {{/if}}
        {{#if license.string}}
          {{license.string}}
        {{/if}}
      </li>
    {{/if}}
  </ul>

  {{#if showCollaborators}}
    <h3 title="collaborators">
      <a href="/package/{{name}}/access">Collaborators</a>
    </h3>

    <ul class="humans collaborators">
      {{#each collaborators}}
        <li>
          {{#unless ../../../features.npmo}}
            <a href="/~{{name}}" rel="tipsy" title="{{name}}">
                {{#if avatar.medium}}<img src="{{avatar.medium}}" alt="{{name}}">{{/if}}
            </a>
          {{else}}
            <span rel="tipsy" title="{{name}}">
                {{#if avatar.medium}}<img src="{{avatar.medium}}" alt="{{name}}">{{/if}}
            </span>
          {{/unless}}
        </li>
      {{/each}}

      {{#unless ../../features.npmo}}
        {{#if isCollaboratedOnByUser}}
          <li>
            <a class="add" title="add a collaborator" href="/package/{{name}}/access">+</a>
          </li>
        {{/if}}
      {{/unless}}

    </ul>
  {{/if}}

  {{#if hasStats}}
    <h3>Stats</h3>
    <ul class="box">

      {{#if downloads}}
        <li>
          <strong class="pretty-number daily-downloads">{{downloads.day.downloads}}</strong>
          {{pluralize downloads.day.downloads "downloads"}} in the last day
        </li>
        <li>
          <strong class="pretty-number weekly-downloads">{{downloads.week.downloads}}</strong>
          {{pluralize downloads.week.downloads "downloads"}} in the last week
        </li>
        <li>
          <strong class="pretty-number monthly-downloads">{{downloads.month.downloads}}</strong>
          {{pluralize downloads.month.downloads "downloads"}} in the last month
        </li>
      {{/if}}

      {{#if bugs.url}}
        <li id="issues" {{#if ghapi}}data-ghapi="{{ghapi}}"{{/if}}>
          <span class="original">Have an issue? <a href="{{bugs.url}}">File it.</a></span>
          {{#if ghapi}}
            <span class="enhanced" style="display:none">
              <a href="{{bugs.url}}"></a> on GitHub
            </span>
          {{/if}}
        </li>
      {{/if}}

      {{#if pull_requests.url}}
        <li id="pull_requests" style="display:none">
          <a href="{{pull_requests.url}}"></a> on GitHub
        </li>
      {{/if}}

    </ul>
  {{/if}}

  {{#unless scoped}}
    {{#unless private}}
      <h3>Try it out</h3>
      <ul class="box">
        <li class="tonicdev"><a href="https://tonicdev.com/npm/{{name}}" target="_blank">Test {{name}} in your browser.</a></li>
      </ul>
    {{/unless}}
  {{/unless}}

  <h3>Keywords</h3>
  <p class="list-of-links">
    {{#if keywords}}
      {{#each keywords}}
        <a href="/browse/keyword/{{this}}">{{this}}</a>{{#unless @last}}, {{/unless}}
      {{/each}}
    {{else}}
      None
    {{/if}}
  </p>

  <h3>Dependencies {{#if dependencies}}({{dependencies.length}}){{/if}}</h3>
  <p class="list-of-links">
    {{#if dependencies}}
      {{#each dependencies}}
        {{#unless @last}}
          <a href="/package/{{this}}">{{this}}</a>,
        {{/unless}}
        {{#if this.noHref}}
            <span>{{this.text}}</span>
        {{else}}
            {{#if @last}}
                <a href="/package/{{this}}">{{this}}</a>
             {{/if}}
         {{/if}}
      {{/each}}
    {{else}}
      None
    {{/if}}
  </p>

  {{#if dependents.results}}
    <h3><a href="/browse/depended/{{name}}">Dependents</a></h3>
    <p class="list-of-links dependents">
      {{#each dependents.results}}
        {{#if @last}}
          <a href="/package/{{name}}">{{name}}</a>{{else}}
          <a href="/package/{{name}}">{{name}}</a>,
        {{/if}}{{/each}}{{#if dependents.hasMore}},
        <a href="/browse/depended/{{../../name}}">and more</a>
      {{/if}}
    </p>
  {{/if}}

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "SoftwareApplication",
      "name": "{{name}}",
      "description": "{{description}}",
      "url": "{{../canonicalURL}}",
      "keywords": "{{keywords}}",
      "applicationCategory": "DeveloperApplication",
      "offers": {
         "@type": "Offer",
         "price": "0.00"
      }
    }
  </script>

  {{#unless ../features.npmo}}
    <div class="hiring-container" data-template="sidebar"></div>
  {{/unless}}

</div>

{{/with}}
