{{#with package}}

<div id="readme" class="markdown">
  <h1 class="package-name">{{name}}</h1>
  <p class="package-description">{{description}}</p>

  <p>
    This package was unpublished 
    <span data-date="{{time.unpublished.time}}" data-date-format="%B %e %Y">
    by
    <a href="/~{{time.unpublished.name}}">{{time.unpublished.name}}</a>.
  </p>

  {{#if time.unpublished.description}}
    <p>Description: {{time.unpublished.description}}</p>
  {{/if}}
</div>

{{/with}}
