{{#if customer}}
<table class="subscriptions push-down">
  <thead>
    <th>Type</th>
    <th>Last 4 Digits</th>
    <th>Expiration</th>
  </thead>
  <tbody>
    <tr>
      <td class="card-brand">{{customer.card.brand}}</td>
      <td class="card-last4">{{customer.card.last4}}</td>
      <td>
        <span class="card-exp-month">{{month-name customer.card.exp_month}}</span>
        <span class="card-exp-year">{{customer.card.exp_year}}</td></span>
      </td>
    </tr>
    <tr class="add-more">
      <td colspan="3">
        <a href="#" id="update-subscription-toggler">update payment info</a>
      </td>
    </tr>
  </tbody>
</table>

{{else}}
<p>
  A paid account costs just <strong>$7 a month</strong> per user, and allows you to create
  and share an unlimited number of modules. The only limit is
  <a href="http://www.zombo.com/" target="_blank">yourself</a>.
</p>
{{/if}}
{{> errors}}

{{#if user.email_verified}}

<p class="error billing-error" style="display:none;"></p>

<form method="POST" action="/settings/billing{{#unless customer}}/subscribe{{/unless}}" id="payment-form" data-stripe-public-key="{{stripePublicKey}}" {{#if customer}}style="display:none;"{{/if}}>
  <label for="card-number">Card Number</label>
  <input required="required" type="text" size="20" data-stripe="number" id="card-number" />

  <label for="card-cvc">Card Security Code</label>
  <input required="required" type="text" size="4" data-stripe="cvc" placeholder="123" class="cvc" id="card-cvc" />

  <label for="card-exp-month">Expiration Month</label>
  <input required="required" type="text" size="2" data-stripe="exp-month" placeholder="MM" id="card-exp-month" />

  <label for="card-exp-year">Expiration Year</label>
  <input required="required" type="text" size="4" data-stripe="exp-year" placeholder="YYYY" id="card-exp-year" />

  <label for="coupon">Coupon Code</label>
  <input type="text" size="20" data-stripe="coupon" id="coupon" name="coupon" />

  {{> form_security}}
  <input type="hidden" name="planType" value="private_modules">
  <input type="submit" class="full-width" value="{{#if customer}}update billing info{{else}}save my billing info{{/if}}">

</form>
{{/if}}

{{#if customer}}
  <form id="cancel-subscription" action="/settings/billing/cancel" method="post" style="display: none">

    {{#each orgs}}
      <p class="notice">
        You are cancelling billing for the organization <strong>@{{npm_org}}</strong>
      </p>

      <ul>
        <li>All private modules in @{{npm_org}} will become unavailable.</li>
        <li>All users paid for by @{{npm_org}} will <strong>no longer</strong> be able to access any private modules.</p>
      </ul>
    {{/each}}

    {{#each privateModules}}
      <p class="notice">
        You are cancelling billing for the private modules for <strong>@{{npm_user}}</strong>. Cancelling your private npm subscription is not so scary. It will have the following effects:
      </p>

      <ul>
        <li>
          Your private subscription will remain active until
          <strong data-date="{{next_billing_date}}" data-date-format="%B %e, %Y">
            {{next_billing_date}}
          </strong>
        </li>
        <li>Your regular npm account will still exist.</li>
        <li>You can still access and publish to the public registry in all its glory.</li>
        <li>You will NOT have access to any private modules.</li>
        <li>Any private modules you've created will still be accessible to any paying users you've shared them with.</li>
        <li>Should you decide to resume your paid subscription, your private modules will still exist.</li>
      </ul>

    {{/each}}

    {{> form_security}}
    <input type="submit" value="Cancel my private npm subscription">
  </form>
{{/if}}
