<tr class="collaborator">

  <td class="avatar">
    <a href="/~{{name}}">
      <img src="{{avatar.small}}" alt="{{name}}" />
    </a>
  </td>

  <td class="name">
    <a href="/~{{name}}">{{name}}</a>
  </td>

  <td class="access">
    <label class="wrapping-hidden-radio">
      <input
        type="radio"
        name="access-{{name}}"
        value="read-only"
        {{#unless write}}checked="checked"{{/unless}}
        disabled="disabled">
      <span>read-only</span>
    </label>

    <label class="wrapping-hidden-radio">
      <input
        type="radio"
        name="access-{{name}}"
        value="read-write"
        {{#if write}}checked="checked"{{/if}}
        disabled="disabled">
      <span>read-write</span>
    </label>
  </td>

  <td>
    <form
      id="remove-collaborator-{{name}}"
      class="remove-collaborator"
      method="DELETE"
      action="/package/{{packageName}}/collaborators/{{name}}"
      style="display:none;">
      <a href="#" class="delete-icon">✖</a>
    </form>
  </td>

</tr>
