<h3>who's hiring</h3>
<div class="box hiring">

  <p>
    <a href="{{url}}" data-id="{{id}}">{{name}}</a><br />
    {{{description}}}
  </p>

  <div class="box-action">
    <strong>{{numExtraCompanies}} more</strong> companies are hiring &middot; <a href="/whoshiring">view all</a>
  </div>

</div> <!-- / .box -->
