<div class="primary-tabs center-tabs">
  <input id="packages" type="radio" name="primary-tabs" {{#if packages}}checked{{/if}}>
  <label class="primary-tab" for="packages"><a href="/org/{{org.info.name}}">{{pluralize org.packages.count "package" true}}</a></label>

  <input id="teams" type="radio" name="primary-tabs" {{#if teams}}checked{{/if}}>
  <label class="primary-tab" for="teams"><a href="/org/{{org.info.name}}/teams">{{pluralize org.teams.count "team" true}}</a></label>

  <input id="members" type="radio" name="primary-tabs" {{#if members}}checked{{/if}}>
  <label class="primary-tab" for="members"><a href="/org/{{org.info.name}}/members">{{pluralize org.users.count "member" true}}</a></label>

  {{#if perms.isSuperAdmin}}
  <input id="billing" type="radio" name="primary-tabs">
  <label class="primary-tab" for="billing"><a href="/settings/billing">payment info</a></label>
  {{/if}}
</div>

<div class="secondary-tabs center-tabs">
  <input id="option-1" type="radio" name="secondary-tabs" checked>
  <label class="secondary-tab" for="option-1"><a href="#">option-1</a></label>

  <input id="option-2" type="radio" name="secondary-tabs">
  <label  class="secondary-tab" for="option-2"><a href="#">option-2</a></label>

  <input id="option-3" type="radio" name="secondary-tabs">
  <label class="secondary-tab" for="option-3"><a href="#">option-3</a></label>
</div>
