<div class="package-widget">
  <h3>
    <a class="name icon-package-hex" href="{{url}}">{{name}}</a>
  </h3>
  <p class="description">{{description}}</p>
  {{#if version}}
    <p class="author quiet">
      <a class="version" href="{{url}}">{{version}}</a>
      published
      {{lastPublished}}
      {{#if publishedBy}}
        by
        <a href="/~{{publishedBy.name}}">{{publishedBy.name}}</a>
      {{/if}}
    </p>
  {{/if}}

  {{#if stars}}
    <p class="quiet">{{{pluralize stars "star" true}}}</p>
  {{/if}}

  {{#if dlWeek}}
    <p class="quiet">{{pluralize dlWeek "download" true}} in the last week</p>
  {{/if}}

  <!-- <div class="npm-install">
    <input type="text" value="{{installCommand}}" readonly>
  </div> -->

  <!-- {{#if starCount}}
    <p class="stars">{{{starCount}}} stars</p>
  {{/if}} -->


</div>
