<div class="package-widget">

  <h3>
    <a class="name icon-package-hex" href="/packages/{{name}}">{{name}}</a>
  </h3>

  <p class="description">{{description}}</p>

  {{#if version}}
    <p class="author quiet">
      <a class="version" href="/packages/{{name}}">{{version}}</a>
      published
      {{lastPublished}}
      {{#if publishedBy}}
        by
        <a href="/~{{publishedBy.name}}">{{publishedBy.name}}</a>
      {{/if}}
    </p>
  {{/if}}

  {{#if dlWeek}}
    <p class="quiet">{{pluralize dlWeek "download" true}} in the last week</p>
  {{/if}}

</div>
