<h1 class="package-name centered">{{name}}</h1>
<p class="package-description centered">{{{description}}}</p>

{{#if isCollaboratedOnByUser}}
  <div class="left-aligned secondary-nav">
    <div class="container">
      <a href="/package/{{name}}">readme and info</a>
      <a href="/package/{{name}}/access">access</a>
      <!-- <a href="/package/{{name}}/files">files</a> -->
    </div>
  </div>
{{/if}}
