<div class="package-widget">

  <h3>
    <a class="name icon-package-hex" href="/packages/{{name}}">{{name}}</a>
  </h3>

  <p class="description">{{description}}</p>

  {{#if version}}
    <p class="author quiet">

      {{#unless lastPublished}} {{#unless publishedBy}}
        version
      {{/unless}} {{/unless}}

      <a class="version" href="/packages/{{name}}">{{version}}</a>

      {{#if lastPublished}} {{#if publishedBy}}

        published

        {{lastPublished}}

        by

        <a href="/~{{publishedBy.name}}">{{publishedBy.name}}</a>

      {{/if}} {{/if}}
    </p>
  {{/if}}

  {{#if dlWeek}}
    <p class="quiet">{{pluralize dlWeek "download" true}} in the last week</p>
  {{/if}}

</div>
