<!doctype html>
<html lang="en">
<head>
  <title>{{#if title}}{{title}}{{#if q}}{{q}}{{/if}}{{else}}npm{{/if}}</title>

  {{#if package}}
    <meta name="description" content="{{package.description}}">
    <meta name="keywords" content="{{package.keywords}}">
    <meta name="twitter:url" content="{{canonicalURL}}">
    <meta name="twitter:title" content="npm: {{package.name}}">
    <meta name="twitter:description" content="{{package.description}}">
  {{/if}}

  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">

  <link rel="shortcut icon" href="/static/misc/favicon.ico">
  <link rel="canonical" href="{{canonicalURL}}">
  <link type="text/css" rel="stylesheet" media="all" href="/static/css/index.css">
  <link rel="search" type="application/opensearchdescription+xml" href="/static/opensearch.xml" title="Search Packages">
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>

  <script defer src="/static/js/index.js"></script>
  <script defer src="/static/js/vendor.min.js"></script>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->

</head>
<body>

  <nav>
    <div class="container">
      <h2>
        <a href="#" id="npm-expansions">node package manager</a>
      </h2>

      <a href="/packages">packages</a>
      <a href="/enterprise">npm Enterprise</a>
      <a href="https://docs.npmjs.com">documentation</a>
    </div>
  </nav>

  <header class="no-nav">
    <div class="container">
      <a href="/" id="npm-logo"><img src="/static/images/npm-logo.png" alt="npm logo" /></a>

      <div id="user-info" class={{#if user}}"logged-in"{{else}}"anonymous"{{/if}}>
        {{#if user}}
          <a href="/~{{user.name}}"><img src="{{user.avatarMedium}}" id="user-avatar" /></a>
          <ul>
            <li class="username"><a href="/~{{user.name}}">{{user.name}}</a></li>
            <li><a href="/logout" class="subdued">log out</a></li>
          </ul>
        {{else}}
          <a href="/login"><img src="/static/images/wombat-avatar.png" id="user-avatar" /></a>
          <ul class="single">
            <li><a href="/signup">sign up</a> or <a href="/login">log in</a></li>
          </ul>

        {{/if}}
      </div>

      <a href="#" id="mobile-menu">menu</a>

      <form id="npm-search" action="/search" method="get">
        <input name="q" value="{{q}}" type="search" id="site-search" placeholder="search packages" tabindex="1"/>
        <input type="submit" id="site-search-submit" />
      </form>

    </div>
  </header>

  <div class="container">
    {{{ content }}}
  </div>

  <footer>

    <div class="container">
      <ul class="links">
        <li><a href="https://docs.npmjs.com">Documentation</a></li>
        <li><a href="http://blog.npmjs.org/">Blog</a></li>
        <li><a href="https://twitter.com/npmjs">Twitter</a></li>
        <li><a href="https://github.com/npm">GitHub</a></li>
        <li><a href="https://github.com/npm/policies#readme">Policies</a></li>
        <li><a href="mailto:support@npmjs.com">Support</a></li>
      </ul>
    </div>

    <a href="/" id="npm-loves-you">
      npm loves you
    </a>

  </footer>
</body>
</html>

<!-- {{stamp}} -->
