<!doctype html>
<html lang="en">
<head>
  <title>{{#if title}}{{title}}{{#if q}}{{q}}{{/if}}{{else}}npm{{/if}}</title>

  {{#if package}}
    <meta name="description" content="{{package.description}}">
    <meta name="keywords" content="{{package.keywords}}">
    <meta name="twitter:url" content="{{canonicalURL}}">
    <meta name="twitter:title" content="npm: {{package.name}}">
    <meta name="twitter:description" content="{{package.description}}">
  {{/if}}

  <meta charset="utf-8">
  <meta http-equiv="cleartype" content="on" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="npm is the package manager for JavaScript.">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">

  <link rel="shortcut icon" href="/static/misc/favicon.ico">
  <link rel="canonical" href="{{canonicalURL}}">
  <link type="text/css" rel="stylesheet" media="all" href="/static/css/index.css">
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="npm">
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>

  <script defer src="/static/js/index.js"></script>
  <script defer src="/static/js/vendor.min.js"></script>
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->

</head>
<body itemscope itemtype="http://schema.org/WebSite">
  <meta itemprop="url" content="https://www.npmjs.com/">
  <nav>
    <div class="container">
      <a href="#" id="npm-expansions">node package manager</a>
      <a href="/private-modules">npm private modules</a>
      <a href="/enterprise">npm Enterprise</a>
      <a href="https://docs.npmjs.com">documentation</a>
      <a href="http://blog.npmjs.org/">blog</a>
      <a href="/npm-weekly">npm weekly</a>
      <a href="/jobs">jobs</a>
      <a href="/support">support</a>
    </div>
  </nav>

  <header>
    <div class="container">
      <a href="/" id="npm-logo"><img src="/static/images/npm-logo.svg" alt="npm logo" /></a>

      <div id="user-info" class={{#if user}}"logged-in"{{else}}"anonymous"{{/if}}>
        {{#if user}}
          <a href="/~{{user.name}}"><img src="{{user.avatarMedium}}" id="user-avatar" /></a>
          <ul>
            <li class="username"><a href="/~{{user.name}}">{{user.name}}</a></li>
            <li class="logout"><a href="/logout" class="subdued">log out</a></li>
          </ul>
        {{else}}
          <a href="/login"><img src="/static/images/wombat-avatar.png" id="user-avatar" /></a>
          <ul class="single">
            <li><a href="/signup">sign up</a> or <a href="/login">log in</a></li>
          </ul>

        {{/if}}
      </div>

      <form id="npm-search" action="/search" method="get" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
        <meta itemprop="target" content="https://www.npmjs.com/search?q={q}">
        <input name="q" value="{{q}}" type="search" id="site-search" placeholder="find packages" tabindex="1" autocorrect="off" autocapitalize="off" itemprop="query-input" />
        <input type="submit" id="site-search-submit" />
      </form>

    </div>
  </header>

  <div class="container">
    {{{ content }}}
  </div>

  <footer>

    <div class="container">

      <ul class="columnar">
        <li>
          <h3>You Need Help</h3>
          <ul class="links">
            <li><a href="https://docs.npmjs.com">Documentation</a></li>
            <li><a href="/support">Support / Contact Us</a></li>
            <li><a href="http://status.npmjs.org/">Registry Status</a></li>
            <li><a href="https://github.com/npm/newww/issues">Website Issues</a></li>
            <li><a href="https://github.com/npm/npm/issues">CLI Issues</a></li>
            <li><a href="/security">Security</a></li>
          </ul>
        </li>

        <li>
          <h3>About npm</h3>
          <ul class="links">
            <li><a href="/about">About npm, Inc</a></li>
            <li><a href="/jobs">Jobs</a></li>
            <li><a href="/private-modules">npm private modules</a></li>
            <li><a href="http://blog.npmjs.org">Blog</a></li>
            <li><a href="https://twitter.com/npmjs">Twitter</a></li>
            <li><a href="https://github.com/npm">GitHub</a></li>
          </ul>
        </li>

        <li>
          <h3>Legal Stuff</h3>
          <ul class="links">
            <li><a href="/policies/conduct">Code of Conduct</a></li>
            <li><a href="/policies/disputes">Package Name Disputes</a></li>
            <li><a href="/policies/npm-license">npm License</a></li>
            <li><a href="/policies/privacy">Privacy Policy</a></li>
            <li><a href="/policies/receiving-reports">Reporting Abuse</a></li>
            <li><a href="/policies/trademark">Trademark Policy</a></li>
          </ul>
        </li>
      </ul>

    </div>

    <div class="container centered">
      <a href="/" id="npm-loves-you">
        npm loves you
      </a>
    </div>


  </footer>
</body>
</html>

<!-- {{stamp}} -->
