<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{#if title}}{{title}}{{#if q}}{{q}}{{/if}}{{else}}npm{{#if env.NPMO_COBRAND}} ♡ {{env.NPMO_COBRAND}}{{/if}}{{/if}}</title>

  {{#if package}}
    <meta name="description" content="{{package.description}}">
    <meta name="keywords" content="{{package.keywords}}">
    <meta name="twitter:url" content="{{canonicalURL}}">
    <meta name="twitter:title" content="npm: {{package.name}}">
    <meta name="twitter:description" content="{{package.description}}">
  {{/if}}

  {{#if norobots}}
    <meta name="robots" content="noindex">
  {{/if}}

  <meta http-equiv="cleartype" content="on" />

  <meta name="apple-mobile-web-app-capable" content="no">
  <meta name="description" content="npm is the package manager for javascript">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">

  {{> touch-icons}}

  <link rel="canonical" href="{{canonicalURL}}">
  {{#if devEnv}}
  <link rel="stylesheet" media="all" href="/static/css/index.css">
  {{else}}
  <link rel="stylesheet" media="all" href="/static/{{m "css/index.css"}}">
  {{/if}}
  <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="npm">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700">
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
  <![endif]-->

  {{#each page.stylesheets}}
  <link rel='stylesheet' href='{{this}}'>
  {{/each}}

  {{#if promotion.belowHeader}}
    <style>
      {{{promotion.belowHeader.stylesheet}}}
    </style>
  {{/if}}
  {{#if promotion.aboveChrome}}
    <style>
      {{{promotion.aboveChrome.stylesheet}}}
    </style>
  {{/if}}
  {{#if promotion.packagePage}}
    <style>
      {{{promotion.packagePage.stylesheet}}}
    </style>
  {{/if}}

  {{#if devEnv}}
  <script src="/static/js/index.js"></script>
  {{else}}
  <script src="/static/{{m "js/index.min.js"}}"></script>
  {{/if}}

</head>

<body itemscope itemtype="http://schema.org/WebSite" {{#if crumb}}data-crumb="{{crumb}}"{{/if}}>
  <meta itemprop="url" content="https://www.npmjs.com/">

  {{#if promotion.aboveChrome}}
    {{{promotion.aboveChrome.html}}}
  {{/if}}

  {{#unless features.npmo}}
    <nav>
        <a href="#" id="npm-expansions" data-event-trigger="click" data-event-name="npm-expansions">node package manager</a>
        <a href="/npm/on-site">npm On-Site</a>
        <a href="/npm/private-packages" data-event-trigger="click" data-event-name="private-modules-nav-link">npm Private Packages</a>
        <a href="/npm/open-source">npm Open Source</a>
        <a href="https://docs.npmjs.com">documentation</a>
        <a href="/support">support</a>
    </nav>
  {{/unless}}

  <header>
    <div id='npm-logo'>
      <a href="/"><img src="/static/images/npm-logo.svg" alt="npm logo" /></a>
      {{#if env.NPMO_COBRAND}}
        <span class="cobrand">{{env.NPMO_COBRAND}}</span>
      {{/if}}
    </div>

    {{#if features.npmo}}

      <nav>
        <a href="https://docs.npmjs.com">docs</a>
        <a href="mailto:support@npmjs.com">support</a>
      </nav>

    {{else}}

      <div id="user-info" class={{#if user}}"logged-in"{{else}}"anonymous"{{/if}}>
        {{#if user}}
          <a data-user-name="{{user.name}}"
              data-is-paid="{{#if user.isPaid}}true{{/if}}"
              href="/~{{user.name}}">
              <img alt="" src="{{user.avatar.small}}" />
          </a>
          <ul>
              <li class="username"><a href="/~{{user.name}}">{{user.name}}</a></li>
              <li class="logout"><form method="POST" action="/logout">{{> form_security }}<button type="submit" class="subdued">log out</button></form></li>
          </ul>
        {{else}}
          <a href="/login"><img alt="" src="/static/images/wombat-avatar-small.png" /></a>
          <ul class="single">
              <li><a href="/signup">sign up</a> or <a href="/login">log in</a></li>
          </ul>

        {{/if}}
      </div>

    {{/if}}

    <form id="npm-search" action="/search" method="get" itemprop="potentialAction" itemscope itemtype="http://schema.org/SearchAction">
      <meta itemprop="target" content="{{env.CANONICAL_HOST}}/search?q={q}">
      <div id="site-search-container">
        {{#if features.npmo}}
          <input name="q" value="{{q}}" type="search" id="site-search" placeholder="find on-site packages" tabindex="1" autocorrect="off" autocapitalize="off" itemprop="query-input" />
        {{else}}
          <input name="q" value="{{q}}" type="search" id="site-search" placeholder="find packages" tabindex="1" autocorrect="off" autocapitalize="off" itemprop="query-input" />
        {{/if}}
      </div>
      <input type="submit" id="site-search-submit" />
    </form>

  </header>

  {{#if promotion.belowHeader}}
    {{{promotion.belowHeader.html}}}
  {{/if}}

  {{#if contentIsFullwidth}}
    {{{ content }}}
  {{else}}
    <div class="container content">
      {{#each successNotices}}
        <div class="notice success">{{{ this }}}</div>
      {{/each}}
      {{#each errorNotices}}
        <div class="notice error">{{{ this }}}</div>
      {{/each}}
      {{{ content }}}
    </div>
  {{/if}}

  <footer>

    <div class="container">

      {{#unless features.npmo}}

        <ul class="columnar">
          <li>
            <h3>You Need Help</h3>
            <ul class="links">
              <li><a href="https://docs.npmjs.com">Documentation</a></li>
              <li><a href="/support">Support / Contact Us</a></li>
              <li><a href="http://status.npmjs.org/">Registry Status</a></li>
              <li><a href="https://github.com/npm/newww/issues">Website Issues</a></li>
              <li><a href="https://github.com/npm/npm/issues">CLI Issues</a></li>
              <li><a href="/policies/security">Security</a></li>
            </ul>
          </li>

          <li>
            <h3>About npm</h3>
            <ul class="links">
              <li><a href="/about">About npm, Inc</a></li>
              <li><a href="/jobs">Jobs</a></li>
              <li><a href="/npm-weekly">npm Weekly</a></li>
              <li><a href="http://blog.npmjs.org">Blog</a></li>
              <li><a href="https://twitter.com/npmjs">Twitter</a></li>
              <li><a href="https://github.com/npm">GitHub</a></li>
            </ul>
          </li>

          <li>
            <h3>Legal Stuff</h3>
            <ul class="links">
              <li><a href="/policies/terms">Terms of Use</a></li>
              <li><a href="/policies/conduct">Code of Conduct</a></li>
              <li><a href="/policies/disputes">Package Name Disputes</a></li>
              <li><a href="/policies/privacy">Privacy Policy</a></li>
              <li><a href="/policies/receiving-reports">Reporting Abuse</a></li>
              <li><a href="/policies/">Other policies</a></li>
            </ul>
          </li>
        </ul>

      {{else}}

        <div class="cobrand-footer">
          <a href="#" id="npm-expansions" data-event-trigger="click" data-event-name="npm-expansions">node package manager</a>

          <span>
            &copy; 2015 npm, Inc. All Rights Reserved.
          </span>
        </div>

      {{/unless}}

    </div>

    <div class="container centered">
      <a href="/" id="npm-loves-you">
        npm loves you
      </a>
    </div>

  </footer>
  {{#if devEnv}}<script defer async src="/static/js/tota11y.min.js"></script>{{/if}}
  <script defer src="/static/{{m "js/vendor.min.js"}}"></script>
  <script defer async src="https://cdn.optimizely.com/js/3318080746.js"></script>
  {{#each page.scripts}}
  <script defer async src="{{this}}"></script>
  {{/each}}
  <script defer async src='//img.en25.com/i/elqCfg.min.js'></script><!-- Eloqua -->
</body>
</html>

<!-- {{stamp}} -->
