<!doctype html>
<html lang="en">
<head>

  <title>{{#if title }}{{title}}{{#if q}}{{q}}{{/if}}{{else}}npm{{/if}}</title>

  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="HandheldFriendly" content="True" />
  <meta name="lOptimized" content="width" />
  <meta http-equiv="cleartype" content="on" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,initial-scale=1,user-scalable=yes">

  <link rel="canonical" href="{{canonicalURL}}">
  <link type="text/css" rel="stylesheet" media="all" href="/static/css/index.css">
  <link rel="search" type="application/opensearchdescription+xml" href="/static/opensearch.xml" title="Search Packages">
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700|Source+Code+Pro:400,600,700' rel='stylesheet' type='text/css'>

  <script defer src="/static/js/index.js"></script>
  <script defer src="/static/js/vendor.min.js"></script>

</head>
<body>

  <nav>
    <div class="container">
      <h2>node package manager</h2>
      <a href="/" id="mobile-home">home</a>
      <a href="/packages">packages</a>
      <!-- <a href="#">collections</a> -->
      <!-- <a href="#">ecosystems</a> -->
      <!-- <a href="#">authors</a> -->
      <!-- <a href="#">resources</a> -->
      <a href="/npme-beta">npm Enterprise</a>
      <a href="https://www.npmjs.org/doc">documentation</a>
    </div>
  </nav>

  <header class="no-nav">
    <div class="container">
      <a href="/" id="npm-logo"><img src="/static/img/npm-logo.png" alt="npm logo" /></a>

      <div id="user-info" class={{#if user}}"logged-in"{{else}}"anonymous"{{/if}}>
        {{#if user}}
          <a href="/~{{user.name}}"><img src="{{user.avatarMedium}}" id="user-avatar" /></a>
          <ul>
            <li class="username"><a href="/~{{user.name}}">{{user.name}}</a></li>
            <li><a href="/logout" class="subdued">log out</a></li>
          </ul>
        {{else}}
          <a href="/login"><img src="/static/img/wombat-avatar.png" id="user-avatar" /></a>
          <ul class="single">
            <li><a href="/signup">sign up</a> or <a href="/login">log in</a></li>
          </ul>

        {{/if}}
      </div>

      <a href="#" id="mobile-menu">menu</a>
      <form id="npm-search" action="/search" method="get">
        <input name="q" type="search" id="site-search" placeholder="search packages" tabindex="1"/>
        <input type="submit" id="site-search-submit" />
      </form>
      {{#if title}}<h1>{{title}}{{#if q}}<em>{{q}}</em>{{/if}}</h1>{{/if}}
    </div>
  </header>

  <div class="container">
    {{{ content }}}
  </div>

  <footer>
    <div class="container">
      <img src="/static/img/npm-footer-logo.png" id="footer-logo" />
      <p>
        <span>npm stuff</span>
        <a href="#">faq</a>
        <a href="#">readme</a>
        <a href="#">npm bugs</a>
        <a href="#">website bugs</a>
        <a href="#">node.js home</a>
        <a href="#">blog</a>
        <a href="#">mailing list</a>
        <a href="#">more about this site</a>
      </p>
      <p>
        <span>legal stuff</span>
        <a href="#">privacy policy</a>
        <a href="#">terms &amp; conditions</a>
        <a href="#">handling disputes</a>
        <a href="#">license</a>
        <a href="#">website issues</a>
        <a href="#">status</a>
      </p>
      <a href="#" id="npm-loves-you">npm loves you</a>
    </div>

  </footer>

</body>
</html>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/"></script> -->
<!-- // <script>hljs.initHighlightingOnLoad();</script> -->

<!-- {{stamp}} -->
