

<h1>Forgot password</h1>

<p>Enter your username or email address below.</p>
<p>A link will be emailed to you.</p>
<p>Click the link, pick a new password.</p>

{{#if sent}}
  <p>An email has been sent.  Click the link when you get it.</p>
{{else}}

  {{#if error}}
    <p class="error">{{ error }}</p>
  {{/if}}

  {{#if users}}
  <h2>Found multiple usernames</h2>

  <p>Please choose a username:</p>
  {{/if}}

  <form method="post">
    {{#if users}}

      <fieldset>
        <label for="names">Usernames</label>
        <select name="selected_name" id="names">
        {{#each users}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>
      </fieldset>
      <fieldset class="buttons">
        <button class="btn" type="submit">Choose</button>
      </fieldset>

    {{else}}

      <fieldset>
        <label for='name_email'>Username / Email</label>
        <input id='name_email' name='name_email'>
      </fieldset>

      <fieldset class='buttons'>
        <button class='btn' type='submit'>Engage</button>
      </fieldset>

    {{/if}}

    <input type="hidden" name="crumb" value="{{crumb}}"/>
  </form>

{{/if}}

