<h1>{{t "signup.title"}}</h1>
<h2>{{t "signup.subtitle"}}</h2>

{{#if errors}}
  <p class="error">{{t "signup.error"}}</p>
  <ul>
    {{#each errors}}
      <li>
        <p class="error">{{message}}</p>
      </li>
    {{/each}}
  </ul>
{{/if}}

<form class="login-forms" action="" method="post">
  <label for="name">{{t "signup.form.name"}}</label>
  <input type="text" id="name" name="name" />
  <p class="help-text">{{t "signup.form.nameHelp"}}</p>

  <label for="password">{{t "signup.form.password"}}</label>
  <input type="password" id="password" name="password" />

  <label for="verify">{{t "signup.form.verify"}}</label>
  <input type="password" id="verify" name="verify" />

  <label for="email-address">{{t "signup.form.email"}}</label>
  <input type="text" id="email-address" name="email-address" />
  <p class="help-text">{{{t "signup.form.emailHelp"}}}</p>

  <input type="submit" value="{{t "signup.form.submit"}}" />

  <input type="hidden" name="crumb" value="{{crumb}}"/>
</form>