<h2 class="centered ruled">
  {{#compare type 'all'}}
    All Packages (alphabetically)
  {{else}} {{#compare type 'keyword'}}
    Browse by Keyword{{#if arg}}: {{arg}}{{/if}}
  {{else}} {{#compare type 'author'}}
    Most prolific authors
  {{else}} {{#compare type 'updated'}}
    Recently updated packages
  {{else}} {{#compare type 'depended'}}
    {{#if arg}}
      Packages depending on <a href="/package/{{arg}}">{{arg}}</a>
    {{else}}
      Most Depended-upon Packages
    {{/if}}
  {{else}} {{#compare type 'star'}}
    {{#if arg}}
      Users who starred <a href="/package/{{arg}}">{{arg}}</a>
    {{else}}
      Most Starred Packages
    {{/if}}
  {{else}} {{#compare type 'userstar'}}
    {{#if arg}}
      Starred Packages by User: <a href="/profile/{{arg}}">{{arg}}</a>
    {{else}}
      Starred Packages by User
    {{/if}}
  {{/compare}} {{/compare}} {{/compare}} {{/compare}} {{/compare}} {{/compare}} {{/compare}}
</h2>


{{#each items}}
  <ul class="columnar">
    {{#each this}}
      <li>{{> package-widget}}</li>
    {{/each}}
  </ul>
{{/each}}

{{> pagination}}
