<h2 class="centered">
  {{#compare type 'all'}}
    All Packages (alphabetically)
  {{else}} {{#compare type 'keyword'}}
    Browse by Keyword{{#if arg}}: {{arg}}{{/if}}
  {{else}} {{#compare type 'author'}}
    Browse by Author{{#if arg}}: <a href="/profile/{{arg}}">{{arg}}</a>{{/if}}
  {{else}} {{#compare type 'updated'}}
    All Packages (by updated date)
  {{else}} {{#compare type 'depended'}}
    {{#if arg}}
      Packages depending on <a href="/package/{{arg}}">{{arg}}</a>
    {{else}}
      Most Depended-upon Packages
    {{/if}}
  {{else}} {{#compare type 'star'}}
    {{#if arg}}
      Users who starred <a href="/package/{{arg}}">{{arg}}</a>
    {{else}}
      Most Starred Packages
    {{/if}}
  {{else}} {{#compare type 'userstar'}}
    {{#if arg}}
      Starred Packages by User: <a href="/profile/{{arg}}">{{arg}}</a>
    {{else}}
      Starred Packages by User
    {{/if}}
  {{/compare}} {{/compare}} {{/compare}} {{/compare}} {{/compare}} {{/compare}} {{/compare}}
</h2>


<ul class="columnar">
  {{#each items}}
    <li>{{> package-widget}}</li>
  {{/each}}
</ul>



{{!-- {{#each items}}
  {{#if name}}
    <div class="row">
      <p>
        <a href="{{url}}">{{name}}</a>
        {{description}}
      </p>
    </div>
  {{/if}}
{{else}}
  <div class="row">
    <p>No items found.</p>
  </div>
{{/each}} --}}


{{> pagination}}
