<div class="container">
  <hgroup>
    <h1>{{t "package.not_found.title"}}</h1>
    <h2>{{name}} will be yours. Oh yes, {{name}} will be yours.</h2>
  </hgroup>
</div>

<div class="container narrow">
<pre><code class="lang-bash hljs" style="background:#F5F5F5;">mkdir {{name}}
cd {{name}}
npm init
# work your magic...
</code></pre>

  <img class="roomy-and-flexible" src="/static/images/notfound.png">
</div>
