{{#with package}}

<div class="content">

  <div id="readme">
    <hgroup>
      <h1>{{name}}
        <form class="star">
          <input type="hidden" name="name" value="{{name}}">
          <input id="star-input" type="checkbox" name="isStarred" value="true" {{#if isStarred}}checked{{/if}}>
          <label for="star-input" class="icon-star"></label>
          {{> form_security ..}}
        </form>
      </h1>
      <h2>{{description}}</h2>
    </hgroup>
    {{#if readme}}
      {{{readme}}}
    {{/if}}
  </div>

</div>

<div class="sidebar">

  {{#if installCommand}}
    <div class="autoselect-wrapper npm-install icon-download">
      <input type="text" value="{{installCommand}}" readonly>
    </div>
  {{/if}}

	<ul class="box">

    {{#if _npmUser}}
      <li class="last-publisher">
        <a href="/~{{_npmUser.name}}">
          <img src="{{_npmUser.avatar}}" alt="{{_npmUser.name}}" />
          <span>{{_npmUser.name}}</span>
        </a>
        {{#if fromNow}}
          published {{fromNow}}
        {{/if}}
      </li>
    {{/if}}

    <li>
      <strong>{{version}}</strong>
      is the latest
      {{#if singleVersion}}
        release
      {{else}}
        of {{versionsCount}} releases
      {{/if}}
    </li>

    {{#if repository.url}}
      <li>
        <a href="{{repository.url}}">{{schemeless repository.url}}</a>
      </li>
    {{/if}}

    {{#if homepage}}
      <li>
        <a href="{{homepage}}">{{schemeless homepage}}</a>
      </li>
    {{/if}}

    {{#if license}}
      <li>
        <a href="{{license.url}}">{{license.name}}</a> <span> license</span>
      </li>
    {{/if}}

  </ul>

  {{#if showMaintainers}}
    <h3>Maintainers</h3>
    <ul class="humans">
      {{#each maintainers}}
        <li>
          <a href="/~{{name}}" rel="tipsy" title="{{name}}">
            {{#if avatar.medium}}<img src="{{avatar.medium}}" alt="{{name}}">{{/if}}
          </a>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  <h3>Stats</h3>
  <ul class="box">

    {{#if downloads}}
      <li><strong class="pretty-number">{{downloads.day}}</strong> {{pluralize downloads.day "downloads"}} in the last day</li>
      <li><strong class="pretty-number">{{downloads.week}}</strong> {{pluralize downloads.week "downloads"}} in the last week</li>
      <li><strong class="pretty-number">{{downloads.month}}</strong> {{pluralize downloads.month "downloads"}} in the last month</li>
    {{/if}}

    {{#if bugs.url}}
      <li id="issues" {{#if ghapi}}data-ghapi="{{ghapi}}"{{/if}}>
        <span class="original">Have an issue? <a href="{{bugs.url}}">File it.</a></span>
        {{#if ghapi}}
          <span class="enhanced" style="display:none">
            <a href="{{bugs.url}}"></a> on GitHub
          </span>
        {{/if}}
      </li>
    {{/if}}

    {{#if pull_requests.url}}
      <li id="pull_requests" style="display:none">
        <a href="{{pull_requests.url}}"></a> on GitHub
      </li>
    {{/if}}

  </ul>

  <h3>Keywords</h3>
  <p class="list-of-links">
    {{#if keywords}}
      {{#each keywords}}
        <a href="/browse/keyword/{{this}}">{{this}}</a>{{#unless @last}}, {{/unless}}
      {{/each}}
    {{else}}
      None
    {{/if}}
  </p>

  <h3>Dependencies {{#if dependencies}}({{dependencies.length}}){{/if}}</h3>
  <p class="list-of-links">
    {{#if dependencies}}
      {{#each dependencies}}
        {{#unless @last}}
          <a href="/package/{{this}}">{{this}}</a>,
        {{else}}
          {{#unless noHref}}
            <a href="/package/{{this}}">{{this}}</a>
          {{else}}
            <a>{{text}}</a>
          {{/unless}}
        {{/unless}}
      {{/each}}
    {{else}}
      None
    {{/if}}
  </p>

  {{#if dependents}}
    <h3><a href="/browse/depended/{{name}}">Dependents</a></h3>
    <p class="list-of-links">
      {{#each dependents}}
        {{#if @last}}
          <a href="{{url}}">{{name}}</a>.
        {{else}}
          {{#if url}}
            <a href="{{url}}">{{name}}</a>,
          {{else}}
            {{name}},
          {{/if}}
        {{/if}}
      {{/each}}
    </p>
  {{/if}}

  <div class="hiring-container" data-template="sidebar"></div>

</div>

{{/with}}
