{{#if hits}}

  <ul class="columnar">
    {{#each hits}}
      {{#with fields}}
        <li>{{> package-widget}}</li>
      {{/with}}
    {{/each}}
  </ul>

  <div class="pagination">
    {{#if prevPage}}
      <a href="/search?q={{q}}&page={{prevPage}}">previous</a>
    {{/if}}
    <a class="active">{{page}}</a>
    {{#if nextPage}}
      <a href="/search?q={{q}}&page={{nextPage}}">next</a>
    {{/if}}
  </div>

{{else}}
  No results.
{{/if}}
