{{#with package}}

<div class="layout-left">
  {{#if readme}}
  <section id="readme">
  {{{readme}}}
  </section>
  {{/if}}
</div>

<div class="layout-right">

	<h3>Package Details</h3>
	<ul class="box">
		<li>
      <span>license</span>
      {{#if license}}
        <a href="{{license.url}}">{{license.name}}</a>
      {{else}}
        <em>unspecified</em>
      {{/if}}
    </li>

		<li><span>version</span> {{version}}</li>

    <li>
      <span>repository</span>
      {{#if repository.url}}
        <a href="{{repository.url}}">{{schemeless repository.url}}</a>
      {{else}}
        <em>unspecified</em>
      {{/if}}
    </li>

    <li>
      <span>homepage</span>
      {{#if homepage}}
        <a href="{{homepage}}">{{schemeless homepage}}</a>
      {{else}}
        <em>unspecified</em>
      {{/if}}
    </li>

    <li>
      <span>bugs</span>
      {{#if bugs.url}}
        <a href="{{bugs.url}}">{{schemeless bugs.url}}</a>
      {{else}}
        <em>unspecified</em>
      {{/if}}
    </li>

	</ul>

  {{#if showMaintainers}}
    <!-- <h3>Maintainers</h3>

    <ul class="userList">
      {{#each maintainers}}
        <li>
          <a href="/~{{name}}">
            {{#if avatar}}<img src="{{avatar}}">{{/if}}
            <span>{{name}}</span>
          </a>
        </li>
      {{/each}}
    </ul> -->


    <h3>Maintainer{{#unless singleMaintainer}}s{{/unless}}</h3>
    <ul class="userMosaic {{#if singleMaintainer}}single{{/if}}">
      {{#each maintainers}}
        <li>
          <a href="/~{{name}}">
            {{#if avatar}}<img src="{{avatar}}">{{/if}}
            <span>{{name}}</span>
          </a>
        </li>
      {{/each}}
    </ul>

  {{/if}}


  <h3>Dependencies {{#if dependencies}}({{dependencies.length}}){{/if}}</h3>
  <p>
    {{#if dependencies}}
      {{#each dependencies}}
        {{#unless @last}}
          <a href="/package/{{this}}">{{this}}</a>,
        {{else}}
          {{#unless noHref}}
            <a href="/package/{{this}}">{{this}}</a>
          {{else}}
            <a>{{text}}</a>
          {{/unless}}
        {{/unless}}
      {{/each}}
    {{else}}
      None
    {{/if}}
  </p>

  {{#if dependents}}
    <h3>Dependents</h3>
    <p>
      {{#each dependents}}
        {{#if @last}}
          <a href="{{url}}">{{name}}</a>.
        {{else}}
          {{#if url}}
            <a href="{{url}}">{{name}}</a>,
          {{else}}
            {{name}},
          {{/if}}
        {{/if}}
      {{/each}}
    </p>
  {{/if}}

</div>

{{/with}}

<!--
{{#with package}}
<div id="package">
  <header>
    <h1>{{name}}</h1>
    {{#if isStarred}}
      <a href="#" class="star star-starre d" title="click here to star/unstar this package" data-name="{{name}}" data-crumb="{{../../crumb}}"></a>
    {{else}}
      <a href="#" class="star" title="click here to star/unstar this package" data-name="{{name}}" data-crumb="{{../../crumb}}"></a>
    {{/if}}
  </header>

  {{#if deprecated}}
    <p class="deprecated">{{deprecated}}</p>
  {{/if}}

  {{#if description}}
    <p class="description">{{description}}</p>
  {{/if}}

  <pre class="sh"><code>npm install {{name}}</code></pre>

{{/with}}

{{#if user}}
  {{> download-graphs downloads}}
{{else}}
  <span class="login-for-graphs">Want to see pretty graphs? <a href="/login?done=/package/{{package.name}}">Log in now!</a></span>
  {{> download-counts downloads }}
{{/if}}

{{#with package}}
  <table class="metadata">
    {{#if _npmUser}}
    <tr>
      <th>Last Published By</th>
      <td>
        <div class="user">
          <a class="username" href="/~{{_npmUser.name}}">
            {{#if _npmUser.avatar}}
            <img src="{{_npmUser.avatar}}" class="avatar">
            {{/if}}
            {{_npmUser.name}}
          </a>
        </div>
      </td>
    </tr>
    {{/if}}


</div>
{{/with}}
-->

<!-- <script src="/static/js/stars.js" async="true"></script> -->
