{{#with package}}

<div class="layout-left">

  {{#if readme}}
    <section id="readme">{{{readme}}}</section>
  {{/if}}

</div>

<div class="layout-right">

	<h3>Package Details</h3>
	<ul class="box">

    <li>
      <strong>Version</strong>
      {{version}}
      {{#if fromNow}}
        <span class="subdued"> published {{fromNow}}</span>
      {{/if}}
    </li>

    {{#if license}}
  		<li>
        <a href="{{license.url}}">{{license.name}}</a> <span> license</span>
      </li>
    {{/if}}

    {{#if repository.url}}
      <li>
        <a href="{{repository.url}}">{{schemeless repository.url}}</a>
      </li>
    {{/if}}

    {{#if homepage}}
      <li>
        <a href="{{homepage}}">{{schemeless homepage}}</a>
      </li>
    {{/if}}

    {{#if bugs.url}}
      <li id="issues" {{#if ghapi}}data-ghapi="{{ghapi}}"{{/if}}>
        <span class="original">Have an issue? <a href="{{bugs.url}}">File it.</a></span>
        {{#if ghapi}}
          <span class="enhanced" style="display:none">
            <a href="{{bugs.url}}"><span class="open_issues_count"></span></a> on GitHub
          </span>
        {{/if}}
      </li>
    {{/if}}

	</ul>


  {{#if showMaintainers}}
    <h3>Maintainer{{#unless singleMaintainer}}s{{/unless}}</h3>
    <ul class="userMosaic {{#if singleMaintainer}}one{{else}}many{{/if}}">
      {{#each maintainers}}
        <li>
          <a href="/~{{name}}" title="{{name}}">
            {{#if avatarMedium}}<img src="{{avatarMedium}}">{{/if}}
            <span>{{name}}</span>
          </a>
        </li>
      {{/each}}
    </ul>
  {{/if}}

  <h3>Dependencies {{#if dependencies}}({{dependencies.length}}){{/if}}</h3>
  <p>
    {{#if dependencies}}
      {{#each dependencies}}
        {{#unless @last}}
          <a href="/package/{{this}}">{{this}}</a>,
        {{else}}
          {{#unless noHref}}
            <a href="/package/{{this}}">{{this}}</a>
          {{else}}
            <a>{{text}}</a>
          {{/unless}}
        {{/unless}}
      {{/each}}
    {{else}}
      None
    {{/if}}
  </p>

  {{#if dependents}}
    <h3>Dependents</h3>
    <p>
      {{#each dependents}}
        {{#if @last}}
          <a href="{{url}}">{{name}}</a>.
        {{else}}
          {{#if url}}
            <a href="{{url}}">{{name}}</a>,
          {{else}}
            {{name}},
          {{/if}}
        {{/if}}
      {{/each}}
    </p>
  {{/if}}

</div>

{{/with}}

<!--
{{#with package}}
<div id="package">
  <header>
    <h1>{{name}}</h1>
    {{#if isStarred}}
      <a href="#" class="star star-starred" title="click here to star/unstar this package" data-name="{{name}}" data-crumb="{{../../crumb}}"></a>
    {{else}}
      <a href="#" class="star" title="click here to star/unstar this package" data-name="{{name}}" data-crumb="{{../../crumb}}"></a>
    {{/if}}
  </header>

  {{#if deprecated}}
    <p class="deprecated">{{deprecated}}</p>
  {{/if}}

  {{#if description}}
    <p class="description">{{description}}</p>
  {{/if}}

  <pre class="sh"><code>npm install {{name}}</code></pre>

{{/with}}

{{#if user}}
  {{> download-graphs downloads}}
{{else}}
  <span class="login-for-graphs">Want to see pretty graphs? <a href="/login?done=/package/{{package.name}}">Log in now!</a></span>
  {{> download-counts downloads }}
{{/if}}

{{#with package}}
  <table class="metadata">
    {{#if _npmUser}}
    <tr>
      <th>Last Published By</th>
      <td>
        <div class="user">
          <a class="username" href="/~{{_npmUser.name}}">
            {{#if _npmUser.avatar}}
            <img src="{{_npmUser.avatar}}" class="avatar">
            {{/if}}
            {{_npmUser.name}}
          </a>
        </div>
      </td>
    </tr>
    {{/if}}


</div>
{{/with}}
-->

<!-- <script src="/static/js/stars.js" async="true"></script> -->
