<h1>{{package.name}}</h1>

<p>Version {{package.version}} {{#if HEAD}}(<a href="https://github.com/npm/npm-www/tree/{{HEAD}}">{{HEADabbrev}}</a>){{/if}}</p>

<p>This site reflects the data in the
npm registry at {{registry}}, available in a couchdb
living at {{registryCouch}}.</p>

<p>Using the following packages:</p>
<ul>
  {{#each dependencies}}
    <li><a href="/package/{{name}}">{{name}}@{{version}}</a></li>
  {{/each}}
</ul>

<p>Running on <a href="http://nodejs.org/">Node.js</a>, version
{{nodev}}.</p>

<h2>Thanks</h2>

<p><a href="https://github.com/npm/newww">Patches welcome!</a></p>

<p>The following people have helped with this project:</p>
<ul>
  {{#each contributors}}
    <li>{{this}}</li>
  {{/each}}
 </ul>
