<div class="content">

    <section id="readme">
    <hgroup>
      <h1>Contact Us</h1>
      <h2>We're building a bunch of awesome products. If you're interested in working with us, or have a burning feature request you want to talk about, then let us know.</h2>
    </hgroup>

    {{#if sent}}
      <p>Thanks for reaching out! One of us will get back to you as soon as possible.</p>

    {{else}}
      <form action="/send-contact" method="post">
        <label for="name">Name</label>
        <input type="text" required="required" id="name" name="name">

        <label for="email">Email Address</label>
        <input type="email" required="required" id="email" name="email">

        <label for="subject">Subject</label>
        <input type="text" required="required" id="subject" name="subject">

        <label for="message">Message</label>
        <textarea id="message" name="message"></textarea>

        <div class="radio-group floaty">
          <label for="inquire-general">
            <input id="inquire-general" name="inquire" value="general" type="radio" checked> This is a general inquiry
          </label>

          <label for="inquire-support">
            <input id="inquire-support" name="inquire" value="support" type="radio"> I need help with something
          </label>
        </div>

        <input type="hidden" name="crumb" value="{{crumb}}">
        <input type="submit" class="full-width" value="Submit">
      </form>
    {{/if}}

  </section>

</div>

<div class="sidebar">

  <h3>Need Help?</h3>
  <ul class="box">
    <li>
      <a href="https://twitter.com/npm_support">npm_support</a>
    </li>
    <li>
      Email us at <a class="icon-support" href="mailto:support@npmjs.com">support@npmjs.com</a>
    </li>
    <li class="freenode">
      Chat with us in <a href="irc://chat.freenode.net/npm">#npm</a> on freenode
    </li>
  </ul>

  <h3>Get in Touch</h3>
  <ul class="box">
    <li>
      <a href="https://twitter.com/npmjs">@npmjs</a> for general
    </li>
    <li>
      We're <a href="/jobs">hiring</a>!
    </li>
    <li class="address">
      <a href="https://goo.gl/maps/JXngp">npm, Inc.</a><br/>
      200 Frank Ogawa Plaza<br/>
      Floor 5<br/>
      Oakland CA 94612<br/>
    </li>
  </ul>

  <h3>Maintainers</h3>
  <ul class="maintainers">
    {{#each maintainers}}
      <li>
        <a href="/~{{username}}">
          {{#if avatar}}<img src="{{avatar}}">{{/if}}
          <span>{{username}}</span>
        </a>
      </li>
    {{/each}}
  </ul>

</div>
