<div id="subheader">
  <div class="container">
    <h1>npm is the package manager for JavaScript</h1>

    <div id="home-stats">
      {{#if totalPackages}}
        <div class="stat">
          <span class="icon-package-hex"></span>
          total packages<strong>{{totalPackages}}</strong>
        </div>
      {{/if}}

      {{#if downloads.day}}
        <div class="stat">
          <span class="icon-cal-24hours"></span>
          downloads in the last day<strong>{{downloads.day}}</strong>
        </div>
      {{/if}}

      {{#if downloads.week}}
        <div class="stat">
          <span class="icon-cal-7days"></span>
          downloads in the last week<strong>{{downloads.week}}</strong>
        </div>
      {{/if}}

      {{#if downloads.month}}
        <div class="stat">
          <span class="icon-cal-30days"></span>
          downloads in the last month<strong>{{downloads.month}}</strong>
        </div>
      {{/if}}
    </div>

  </div>
</div>


<h2>Recently Updated Packages</h2>
<ul class="columnar packages">
  {{#each updated}}
    <li>
      <a href="/packages{{name}}">{{name}}</a> <span class="description">{{description}}</span>
    </li>
  {{/each}}
</ul>

<h2>Most Depended Upon</h2>
<ul class="columnar packages">
  {{#each depended}}
    <li>{{value}} <a href="/package/{{name}}">{{name}}</a></li>
  {{/each}}
  <li><a href="/browse/depended">More...</a></li>
</ul>

<h2>Most Prolific Recently</h2>
<ul class="columnar authors">
  {{#each authors}}
    <li>{{value}} <a href="/~{{name}}">{{name}}</a></li>
  {{/each}}
  <li><a href="/recent-authors">More...</a></li>
</ul>

<h2>Most Starred</h2>
<ul>
  {{#each starred}}
    <li>{{value}} <a href="/package/{{name}}">{{name}}</a></li>
  {{/each}}
  <li><a href="/browse/star">More...</a></li>
</ul>
