<div id="subheader">
  <div class="container">
    <h1>npm is the package manager for JavaScript</h1>

    <div id="home-stats">
      {{#if totalPackages}}
        <div class="stat">
          <span class="icon-package-hex"></span>
          total packages<strong>{{totalPackages}}</strong>
        </div>
      {{/if}}

      {{#if downloads.day}}
        <div class="stat">
          <span class="icon-cal-24hours"></span>
          downloads in the last day<strong>{{downloads.day}}</strong>
        </div>
      {{/if}}

      {{#if downloads.week}}
        <div class="stat">
          <span class="icon-cal-7days"></span>
          downloads in the last week<strong>{{downloads.week}}</strong>
        </div>
      {{/if}}

      {{#if downloads.month}}
        <div class="stat">
          <span class="icon-cal-30days"></span>
          downloads in the last month<strong>{{downloads.month}}</strong>
        </div>
      {{/if}}
    </div>

  </div>
</div>


<h2 class="centered"><a id="explicit" href="#explicit">packages people 'npm install' a lot</a></h2>
<ul class="columnar packages">
  {{#each explicit}}
    <li>
      <h3>
        <a class="name icon-package-hex" href="/packages/{{name}}">{{name}}</a>
        <!-- <span class="version">{{dist-tags.latest}}</span> -->
        <!-- <div class="npm-install">
          <input type="text" value="{{installCommand}}" readonly>
        </div> -->
      </h3>
      <p class="description">{{description}}</p>
      <p class="author">
        <a class="version" href="/packages/{{name}}">{{version}}</a>
        published
        {{lastPublishedInWords}}
        by
        <a href="/~{{latestVersion._npmUser.name}}">{{latestVersion._npmUser.name}}</a>
      </p>

      <!-- {{#if starCount}}
        <p class="stars">{{{starCount}}} stars</p>
      {{/if}} -->

      <!-- {{#if keywords}}
        <p class="keywords icon-tag">{{{packageKeywords keywords 5}}}</p>
      {{else}}
        <p class="keywords icon-tag">&nbsp;</p>
      {{/if}} -->

    </li>
  {{/each}}
</ul>

<h2 class="centered"><a id="recent" href="#recent">Recently Updated Packages</a></h2>

<ul class="columnar packages">
  {{#each updated}}
    <li>
      <h3>
        <a class="name icon-package-hex" href="/packages/{{name}}">{{name}}</a>
      </h3>
      <p class="description">{{description}}</p>
    </li>
  {{/each}}
</ul>

<!--
<h2>Most Depended Upon</h2>
<ul class="columnar packages">
  {{#each depended}}
    <li>
      <a href="{{url}}">{{name}}</a>
      <p class="description">{{description}}</p>
    </li>
  {{/each}}
  <li><a href="/browse/depended">More...</a></li>
</ul>

<h2>Most Prolific Recently</h2>
<ul class="columnar authors">
  {{#each authors}}
    <li>
      <a href="{{url}}">{{name}}</a>
      <p class="description">{{description}}</p>
    </li>
  {{/each}}
  <li><a href="/recent-authors">More...</a></li>
</ul>

<h2>Most Starred</h2>
<ul class="columnar packages">
  {{#each starred}}
    <li>
      <a href="{{url}}">{{name}}</a>
      <p class="description">{{description}}</p>
    </li>
  {{/each}}
  <li><a href="/browse/star">More...</a></li>
</ul> -->
