<div id="subheader">
  <div class="container">

    <h1 class="centered">npm is the package manager for JavaScript</h1>

    <div id="home-stats">
      {{#if totalPackages}}
        <div class="stat icon-package-hex">
          <strong class="pretty-number">{{totalPackages}}</strong>
          total packages
        </div>
      {{/if}}

      {{#if downloads.day}}
        <div class="stat icon-cal-24hours">
          <strong class="pretty-number">{{downloads.day}}</strong>
          downloads in the last day
        </div>
      {{/if}}

      {{#if downloads.week}}
        <div class="stat icon-cal-7days">
          <strong class="pretty-number">{{downloads.week}}</strong>
          downloads in the last week
        </div>
      {{/if}}

      {{#if downloads.month}}
        <div class="stat icon-cal-30days">
          <strong class="pretty-number">{{downloads.month}}</strong>
          downloads in the last month
        </div>
      {{/if}}
    </div>

  </div>
</div>

<h2 class="centered">
  <a id="explicit" href="#explicit">packages people 'npm install' a lot</a>
</h2>
<ul class="columnar">
  {{#each explicit}}
    <li>{{> package-widget}}</li>
  {{/each}}
</ul>

<h2 class="centered">
  <a id="recent" href="#recent">Recently Updated Packages</a>
</h2>
<ul class="columnar">
  {{#each updated}}
    <li>{{> package-widget}}</li>
  {{/each}}
</ul>

<h2 class="centered"><a id="depended" href="#depended">Most Depended Upon</a></h2>
<ul class="columnar packages">
  {{#each depended}}
    <li>{{> package-widget}}</li>
{{!--     <li>
      <h3>
        <a class="name icon-package-hex" href="/packages/{{name}}">{{name}}</a>
      </h3>
      <p class="description">{{description}}</p>
      <p class="author">
        <a class="version" href="/packages/{{name}}">{{pkg.version}}</a>
        published
        {{lastUpdated}}
        by
        <a href="/~{{pkg._npmUser.name}}">{{pkg._npmUser.name}}</a>
      </p>
    </li> --}}

{{!--     <li>
      <a href="{{url}}">{{name}}</a>
      <p class="description">{{description}}</p>
    </li> --}}
  {{/each}}
</ul>

<!--
<h2>Most Prolific Recently</h2>
<ul class="columnar authors">
  {{#each authors}}
    <li>
      <a href="{{url}}">{{name}}</a>
      <p class="description">{{description}}</p>
    </li>
  {{/each}}
  <li><a href="/recent-authors">More...</a></li>
</ul>

<h2>Most Starred</h2>
<ul class="columnar packages">
  {{#each starred}}
    <li>
      <a href="{{url}}">{{name}}</a>
      <p class="description">{{description}}</p>
    </li>
  {{/each}}
  <li><a href="/browse/star">More...</a></li>
</ul> -->
