<h1>{{t "company.whoshiring.title"}}</h1>
<h2>{{t "company.whoshiring.subtitle"}}</h2>

<ul class="columnar">
  {{#each companies}}
    <li>
      <a href="{{url}}"><img src="{{logo_url}}">{{name}}</a>
      <p>{{{description}}}</p>
    </li>
  {{/each}}
</ul>

<p>{{{t "company.whoshiring.addCompany"}}}</p>
