<h1>{{t "company.whoshiring.title"}}</h1>

<h2>{{t "company.whoshiring.subtitle"}}</h2>

<div class="container">
  <div class="thirds tab-content" data-tab="today">
    {{#each companies}}
      <div class="third hiring">

        <div class="c-name" data-id="{{id}}">
          <a href="{{url}}"><img src="/static/img/hiring/{{id}}.png" />{{name}}</a>
        </div>

        <div class="c-details">
          <p>{{{description}}}</p>
        </div>

      </div> <!-- / .hiring -->
    {{/each}}
  </div> <!-- / .thirds -->
</div> <!-- / .container -->

<p>{{{t "company.whoshiring.addCompany"}}}</p>
