<div class="ad discreet">
  <p>
    <a href="{{companies.0.url}}">{{companies.0.name}}</a>,
    <a href="{{companies.1.url}}">{{companies.1.name}}</a>,
    <a href="{{companies.2.url}}">{{companies.2.name}}</a>
     and lots of other companies are hiring javascript developers.
    <a class="quiet" href="/whoshiring">View all {{companies.length}}&hellip;</a>
  </p>
</div>
