{{#each companies}}
  <ul class="columnar">
    {{#each this}}
      <li>
        <div class="hiring-widget" data-id="{{name}}">
          <a href="{{url}}" class="hiring-widget-logo"><img src="{{logo_url}}"></a>
          <p data-id="{{name}}">{{{description}}}</p>
        </div>
      </li>
    {{/each}}
  </ul>
{{/each}}
