<div class="nav-breadcrumb-flow-indicator-container">
  <ul class="nav-breadcrumb-flow-indicator">
    <li class="done">Create Account</li>
    <li class="current">Create Organization</li>
    <li>Invite Members</li>
  </ul>
</div>
{{#if user.email_verified}}
  <h1>Billing information</h1>
  <form method="POST" id="payment-form" action="/settings/billing/subscribe" data-stripe-public-key="{{stripePublicKey}}">
    <section>
      <p class="description">
        <span class="included">$14/month for 2 included users</span>
        <span class="additional">$7/month for additional users</span>
      </p>
      <input type="hidden" name="human-name" value="{{humanName}}"/>
      <input type="hidden" name="orgScope" value="{{orgScope}}"/>
      {{#if newUser}}
      <input type="hidden" name="new-user" value="{{newUser}}"/>
      {{/if}}
      {{#if user.customer}}
        <p>We will use the <a href="/settings/billing">billing information</a> we already have for you :-)</p>
      {{else}}
        <div class="inline-input-set">
          <div class="card-number large">
            <label for="card-number">card #</label>
            <input required="required" type="text" name="card-number" id="card-number" />
          </div>

          <div class="cvv small">
            <label for="card-cvc">cvv</label>
            <input required="required" type="text" name="card-cvc" id="card-cvc" />
          </div><!--/.cvv-->
        </div><!--/.inline-input-set-->

        <fieldset>
          <legend>expiration date</legend>
          <div class="inline-input-set">
            <div class="month small">
              <label for="card-exp-month"><span class="a11y-only">Month</span></label>
              <input id="card-exp-month" required="required" type="text" minlength="1" maxlength="2" name="card-exp-month" placeholder="MM" />
            </div><!--/.month-->
            <div class="year small">
              <label for="card-exp-year"><span class="a11y-only">Year</span></label>
              <input id="card-exp-year" required="required" type="text" minlength="4" maxlength="4" name="card-exp-year" placeholder="YYYY" />
            </div><!--/.year-->
          </div><!--/.inline-input-set-->
        {{/if}}
      </fieldset>
    </section>

    {{> form_security}}
    <input type="hidden" name="planType" value="orgs" />
    <input type="submit" value="Make it so" />

  </form>
  <script src="https://js.stripe.com/v2/"></script>

{{else}}
  {{> email-verify-nag}}
{{/if}}
