<div class="nav-breadcrumb-flow-indicator-container">
  <ul class="nav-breadcrumb-flow-indicator">
    <li class="done">Create Account</li>
    <li class="current">Create Org</li>
    <li>Invite Members</li>
  </ul>
</div>
<div class="main right-well-fixed clear">
  <div class="content-column">
    <h1>Create an Org</h1>

    {{#unless user.email_verified}}
      {{> email-verify-nag}}

    {{else}}

      <form{{#if inUseError}} class="error-state"{{/if}} method="GET" id="payment-form" action="/org/create-validation">
        <section>
          <label for="fullname">Org name</label>
          <input required="required" type="text" id="fullname" name="fullname" placeholder="My Org" {{#if fullname}} value="{{fullname}}"{{/if}}/>
          <p class="description">A human-readable name for your org, can include spaces &amp; punctuation.</p>

          <label for="orgScope">Org <a href="https://docs.npmjs.com/misc/scope" target="_blank">@scope</a></label>
          <input data-validate="org-scope" autocomplete="off" required="required" type="text" id="orgScope" name="orgScope" placeholder="my-org"{{#if orgScope}} value="{{orgScope}}"{{/if}} />
          <p class="description">Your scope becomes part of your package names and <strong class="fake-strong">cannot</strong> be changed.</p>

          {{#if inUseByMe}}
          <div class="hint-block">
            <a href="/org/transfer-user-name?orgScope={{orgScope}}&fullname={{fullname}}">transfer @{{orgScope}} to become your organization's scope?</a>
          </div>
          {{/if}}

        </section>
        <button class="button org-create-submit-btn" type="submit" {{#if inUseError}} data-in-use-error="true"{{/if}}>continue &raquo;</button>
        <a href="/settings/billing">cancel</a>
      </form>
    {{/unless}}
  </div>
  <div class="sidebar">
    <div class="inset bottom-img">
      <h3>Let the wombat help you</h3>
      <ul>
        <li><span>Using Orgs can simplify package management.</span></li>
        <li><span>All Orgs have a dedicated namespace, unlimited teams, and public
        package hosting.</span></li>
        <li><span>Orgs can host any number of public and private packages.</span></li>
        <li><span>An Org can pay for any number of npm users.</span></li>
      </ul>
      <span class="wombat-construction"></span>
    </div><!--/.inset-->
  </div><!--/.sidebar-->
</div><!--/.main-->

