<div class="container">

  <hgroup>
    <h1 class="billing-header">{{org.info.name}}</h1>
  </hgroup>

  <div class="tabs">
    <div class="tab-nav-container">
      <div class="nav-3-container">
        <ul class="nav-3 clear" role="navigation">
          <li class="current"><a href="#overview">Overview</a></li>
          <li><a href="#paid-users">{{pluralize org.users.count "User" true}}</a></li>
          <li><button type="button" id="billing" data-stripe-id="{{org.customer_id}}">Payment Information</button></li>
        </ul>
      </div>
    </div>

    <div id="overview" class="tab tab-1">
      <h2>Overview</h2>

      <h3>{{pluralize org.packages.count "Package" true}}</h3>
      {{#if org.packages.count}}
      <table class="org-table org-packages">
        <thead>
          <tr>
            <th>Packages</th>
          </tr>
        </thead>
        <tbody>
        {{#each org.packages.items}}
          <tr>
            <td>
              <div>
                {{#if private}}
                  <i class="icon-lock"></i>
                {{!-- {{else}}
                  <i class="icon-public"></i> --}}
                {{/if}}
                <span class="name">
                  <a class="packagename" href="/package/{{name}}">{{name}}</a>
                </span><!--/.name-->
              </div>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      {{/if}}

      <h3>{{pluralize org.users.count "User" true}}</h3>
      {{#if org.users.items}}
      <table class="org-table org-users">
        <thead>
          <tr>
            <th>Collaborators</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {{#each org.users.items}}
          <tr>
            <td>
              <div>
                <span class="circle-avatar">
                  <img src="{{avatar.small}}" />
                </span>
                <span class="name">
                  <a class="username" href="/~{{name}}">{{name}}</a>
                  {{#if resource.fullname}}
                  <span class="display-name">{{resource.fullname}}</span>
                  {{/if}}
                </span><!--/.name-->
              </div>
            </td>
            <td>
              <form method="POST" id="org-user-delete-overview-{{@index}}" action="/org/{{../org.info.name}}">
                {{#with ../this}}
                {{> form_security }}
                {{/with}}
                  <input type="hidden" name="username" value="{{name}}" />
                  <input type="hidden" name="updateType" value="deleteUser" />
                  <button type="submit" class="icon-x"><span class="a11y-only">Delete User {{name}}</span></button>
              </form>
            </td>
          </tr>
        {{/each}}
          <tr>
            <td colspan=2>
              <form method="POST" class="org-user-add" action="/org/{{org.info.name}}">
                <label for="name"><span class="a11y-only">Username</span></label>
                <input required="required" type="text" id="username" name="username" placeholder="Invite a Member"/>
                <fieldset>
                  <legend><span class="a11y-only">User Type:</span></legend>
                  <label for="role-1">Member</label>
                  <input type="radio" id="role-1" name="role" value="developer" checked="checked" />
                  <label for="role-2">Team Admin</label>
                  <input type="radio" id="role-2" name="role" value="super-admin" />
                </fieldset>

                {{> form_security}}
                <input type="hidden" name="updateType" value="addUser" />
                <button type="submit" class="button">Add User</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      {{/if}}

    </div><!--/tab-1-->

    <div id="paid-users" class="tab tab-2">
      <h2>Paid Users</h2>
      {{#if org.users.items}}
      <table class="org-table org-users org-edit-user-table">
        <thead>
          <tr>
            <th>Collaborators</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each org.users.items}}
            <tr>
              <td>
                <div class="collapsible-wrapper">
                  <span class="circle-avatar">
                    <img src="{{avatar.small}}" />
                  </span>
                  <span class="name">
                    <a class="username" href="/~{{name}}">{{name}}</a>
                    {{#if resource.fullname}}
                    <span class="display-name">{{resource.fullname}}</span>
                    {{/if}}
                  </span><!--/.name-->
                </div>
              </td>
              <td>
                <div class="collapsible-wrapper">
                <form method="POST" id="org-user-update-{{@index}}" action="/org/{{../org.info.name}}" class="edit-pay-status">
                <div class="switch-container pay-status">
                  <label><span class="a11y-only">Paid Status</span>
                  {{#if sponsoredByOrg}}
                    <input class="switch" checked="checked" type="checkbox" name="payStatus">
                  {{else}}
                    {{#if sponsored}}
                      <input class="switch" checked="checked" disabled="disabled" type="checkbox" name="payStatus">
                    {{else}}
                      <input class="switch" type="checkbox" name="payStatus">
                    {{/if}}
                  {{/if}}
                  <div class="switch"></div>
                  <span class="switch-label unchecked-text" aria-hidden="true">unpaid</span>
                  <span class="switch-label checked-text" aria-hidden="true">paid</span>
                  </label>
                </div>
                  {{#with ../this}}
                  {{> form_security }}
                  {{/with}}
                    <input type="hidden" name="username" value="{{name}}" />
                    <input type="hidden" name="updateType" value="updatePayStatus" />
                    {{#if sponsoredByOrg}}
                      <button type="submit" class="edit-pay-status-save"><span>Save Changes</span></button>
                    {{else}}
                      {{#unless sponsored}}
                        <button type="submit" class="edit-pay-status-save"><span>Save Changes</span></button>
                      {{/unless}}
                    {{/if}}
                </form>
                </div>
              </td>
              <td>
                <div class="collapsible-wrapper">
                <form method="POST" id="org-user-delete-{{@index}}" action="/org/{{../org.info.name}}">
                  {{#with ../this}}
                  {{> form_security }}
                  {{/with}}
                    <input type="hidden" name="username" value="{{name}}" />
                    <input type="hidden" name="updateType" value="deleteUser" />
                    <button type="submit" class="delete-user icon-x"><span class="a11y-only">Delete User {{name}}</span></button>
                </form>
                </div>
              </td>
            </tr>
          {{/each}}
          <tr>
            <td colspan=3>
              <form method="POST" class="org-user-add" action="/org/{{org.info.name}}">
                <label for="name"><span class="a11y-only">Username</span></label>
                <input required="required" type="text" id="username" name="username" placeholder="Invite a Member"/>
                <fieldset>
                  <legend><span class="a11y-only">User Type:</span></legend>
                  <label for="role-1">Member</label>
                  <input type="radio" id="role-1" name="role" value="developer" checked="checked" />
                  <label for="role-2">Team Admin</label>
                  <input type="radio" id="role-2" name="role" value="team-admin" />
                </fieldset>

                {{> form_security}}
                <input type="hidden" name="updateType" value="addUser" />
                <button type="submit" class="button">Add User</button>
              </form>
            </td>
          </tr>
        </tbody>
      </table>
      {{/if}}

    </div><!--/.tab-2-->
  </div><!--/tabs-->


</div>
<script src="https://static.accountdock.com/app.min.js"></script>
