<div class="container">

  <hgroup>
    <h1>{{org.info.name}}</h1>
  </hgroup>

  <h2>Users</h2>
  {{#if org.users}}
  <table>
    <thead>
      <th>Collaborators</th>
      <th>Status</th>
      <th>Action</th>
    </thead>
    <tbody>
      {{#each org.users}}
        <tr>
          <td>
            <div>
              <span class="avatar">
                <img src="{{avatar.small}}" />
              </span>
              <span class="name">
                <a class="username" href="/~{{name}}">{{name}}</a>
                <span class="preferred-name"></span>
              </span><!--/.name-->
            </div>
          </td>
          <td>
            <div class="switch-container">
              <label><span class="a11y-only">Paid Status</span><input class="switch" checked="checked" type="checkbox" value="paid"><div class="switch"></div>
              <span class="switch-label unchecked-text" aria-hidden="true">unpaid</span>
              <span class="switch-label checked-text" aria-hidden="true">paid</span>
              </label>
            </div>
          </td>
          <td>
            <form method="POST" id="org-user-delete-{{@index}}" action="/org/{{../org.info.name}}">
              {{#with ../this}}
              {{> form_security }}
              {{/with}}
                <input type="hidden" name="username" value="{{name}}" />
                <input type="hidden" name="updateType" value="deleteUser" />
                <button type="submit" class="icon-x"><span class="a11y-only">Delete User {{name}}</span></button>
            </form>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}

  <h2>Add New User?</h2>
  {{#if features.org_billing}}

    <div>
      <p>
      Add a user to your team!
      </p>

      <form method="POST" id="org-user-add" action="/org/{{org.info.name}}">

          <label for="name">Username</label>
          <input required="required" type="text" id="username" name="username" />
          <fieldset>
            <legend>User Type:</legend>
            <label for="role-1">Member</label>
            <input type="radio" id="role-1" name="role" value="developer" checked="checked" />
            <label for="role-2">Team Admin</label>
            <input type="radio" id="role-2" name="role" value="team-admin" />
          </fieldset>

          {{> form_security}}
          <input type="hidden" name="updateType" value="addUser" />
          <input type="submit" class="full-width" value="Add User" />

        </form>
    </div>
  {{/if}}


</div>
