<div class="container">

  <hgroup>
    <h1 class="billing-header">{{org.info.name}}</h1>
  </hgroup>

  <div class="tab-nav-container">
    <div class="nav-container nav-4-container">
      <ul class="nav nav-4 clear" role="navigation">
        <li class="current"><a href="/org/{{org.info.name}}">{{pluralize org.packages.count "package" true}}</a></li>
        {{#if perms.isAtLeastMember}}
        <li><a href="/org/{{org.info.name}}/teams">{{pluralize org.teams.count "team" true}}</a></li>
        <li><a href="/org/{{org.info.name}}/members">{{pluralize org.users.count "member" true}}</a></li>
        {{/if}}
        {{#if perms.isSuperAdmin}}
          <li><button type="button" id="billing" data-stripe-id="{{customer_id}}">payment info</button></li>
        {{/if}}
      </ul>
    </div>
  </div>

  <div id="packages">
    <h2>{{pluralize org.packages.count "package" true}}</h2>

    {{#if org.packages.count}}
    <table class="org-table org-packages">
      <thead>
        <tr>
          <th>Packages</th>
        </tr>
      </thead>
      <tbody>
      {{#each org.packages.items}}
        <tr>
          <td>
            <div>
              {{#if private}}
                <i class="icon-lock"></i>
              {{!-- {{else}}
                <i class="icon-public"></i> --}}
              {{/if}}
              <span class="name">
                <a class="packagename" href="/package/{{name}}">{{name}}</a>
              </span><!--/.name-->
            </div>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    {{/if}}
  </div><!--/#packages-->



</div>
<script src="https://static.accountdock.com/app.min.js"></script>
