<div class="container">

  <hgroup>
    <h1 class="billing-header">@{{org.info.name}}</h1>
  </hgroup>

    <div class="tab-nav-container">
      <div class="nav-container nav-4-container">
        <ul class="nav nav-4 clear" role="navigation">
          <li><a href="/org/{{org.info.name}}">{{pluralize org.packages.count "package" true}}</a></li>
          {{#if perms.isAtLeastMember}}
          <li class="current"><a href="/org/{{org.info.name}}/teams">{{pluralize org.teams.count "team" true}}</a></li>
            <li><a href="/org/{{org.info.name}}/members">{{pluralize org.users.count "member" true}}</a></li>
          {{/if}}
          {{#if perms.isSuperAdmin}}
            <li><button type="button" id="billing" data-stripe-id="{{customer_id}}">payment info</button></li>
          {{/if}}
        </ul>
      </div>
    </div>


    {{#if perms.isAtLeastMember}}
    <div id="teams">
      <div class="org-info-header-container">
        <h2>{{pluralize org.teams.count "team" true}}</h2>
        <a class="button" href="/org/{{org.info.name}}/team/create">create a Team</a>
      </div>
      {{#if org.teams.items}}
      <table class="org-table org-teams">
        <thead>
          <tr>
            <th>team name</th>
            <th>members</th>
            <th>packages</th>
            <th>created</th>
            <th><span class="a11y-only">actions</span></th>
          </tr>
        </thead>
        <tbody>
        {{#each org.teams.items}}
          <tr>
            <td>
              <a href="/org/{{../org.info.name}}/team/{{name}}">{{name}}</a>
              {{#if description}}
              <span class="description">{{description}}</span>
              {{/if}}
            </td>
            <td>
              {{#if users.count}}
              <a href="/org/{{../../org.info.name}}/team/{{name}}#members">{{users.count}}</a>
              {{else}}
              <a href="/org/{{../../org.info.name}}/team/{{name}}/add-user">+ invite users</a>
              {{/if}}
            </td>
            <td>
              {{#if packages.count}}
              <a href="/org/{{../../org.info.name}}/team/{{name}}#packages">{{packages.count}}</a>
              {{else}}
              <a href="/org/{{../../org.info.name}}/team/{{name}}/add-packages">+ add packages</a>
              {{/if}}
            </td>
            <td class="created" data-date="{{created}}" data-date-format="%d-%b-%y">{{created}}</td>
            <td>
              <form method="POST" id="org-team-delete-{{@index}}" action="/org/{{../org.info.name}}/team">
                {{#with ../../this}}
                {{> form_security }}
                {{/with}}
                <input type="hidden" name="team-name" value="{{name}}" />
                <input type="hidden" name="org-scope" value="{{../org.info.name}}" />
                <input type="hidden" name="update-type" value="delete-team" />
                <button type="submit" class="delete-user icon-x"><span class="a11y-only">Delete Team {{name}}</span></button>
              </form>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      {{else}}
      <div class="org-team-empty">
        <div>You have no teams within this Org.</div>
        <div>Why not add one?</div>
      </div>
      {{/if}}

    </div>
    {{/if}}

</div>
<script src="https://static.accountdock.com/app.min.js"></script>
