{{> profile-secondary-nav}}

<div class="container">

  <hgroup>
    <h1>subscriptions</h1>
  </hgroup>

  {{> email-verify-nag}}

  {{#if canceled}}
    <p class="notice cancellation-notice">
      You have successfully cancelled your private npm subscription. Your free account
      still exists, as do any private modules that you created. Your private modules
      are still accessible to any other paid users you've shared them with. If you decide
      to start paying again, those modules will be waiting for you.
    </p>
  {{/if}}

  {{#if updated}}
    {{> twitter-tracking pid='l5xyy'}}

    <p class="notice update-notice">
      You have successfully updated your billing information.
      <br/><br/>
      Please run `npm login` on the command line (even if you are already logged in) to get all the benefits of private npm!
    </p>
  {{else}}
    {{> twitter-tracking pid='l5xz2'}}
  {{/if}}

  {{#if package}}
    <p class="notice payment-required-notice">
      Someone added you as a collaborator on the <a href="/package/{{package}}">{{package}}</a> package,
      but you'll need to sign up as a paying user before you can access the package.
    </p>
  {{/if}}

  {{#if customer.license_expired }}
    <p class="error license-expired">
      Your license has expired, and your account
      status is <strong>{{customer.status}}</strong>.
      Any private packages you've created still exist, but you
      will not be able to access them until your license is renewed.
    </p>
  {{/if}}

  <div class="tabs">
    <div class="tab-nav-container">
      <div class="nav-container nav-3-container">
        <ul class="nav nav-3 clear" role="navigation">
          <li class="current"><a href="#overview">Overview</a></li>
          {{#if customer}}
            <li><a href="#payment-information">Payment Information</a></li>
          {{/if}}
          {{#if customer.customer_id}}
            <li><a type="button" id="billing" data-stripe-id="{{customer.customer_id}}">Payment History</a></li>
          {{/if}}
        </ul>
      </div>
    </div>

    <div id="overview" class="tab tab-1">
      <h3>Personal</h3>

      {{#if privateModules}}
      <table class="subscriptions">
        <thead>
          <tr>
            <th>name</th>
            <th>Next Billing Date</th>
            <th>Monthly Fee</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each privateModules}}
          <tr>
            <td>
              <ul class="name-desc vanilla-list ellipsis">
                <li><strong>Personal Plan</strong></li>
                <li><span class="display-name">This plan is paid by you.</span></li>
              </ul>
            </td>
            {{#if cancel_at_period_end}}
              <td>--</td>
            {{else}}
              <td data-date="{{next_billing_date}}" data-date-format="%e-%b-%y">
                {{next_billing_date}}
              </td>
            {{/if}}
            <td>{{cost}}</td>
            {{#if cancel_at_period_end}}
              <td data-date="{{next_billing_date}}" data-date-format="%e-%b-%y">
                Last date - {{next_billing_date}}
              </td>
            {{else}}
              <td>
                <a href="/org/{{npm_org}}/confirm-delete" class="icon-x delete-package" rel="tipsy" original-title="delete this subscription"><span class="a11y-only">Delete Private Modules</span></a>
              </td>
            {{/if}}
          </tr>
          {{/each}}
        </tbody>
      </table>
      {{else}}
      <table class="subscriptions">
        <tbody>
          <tr>
            <td colspan="4">You do not have a Personal Plan</td>
          </tr>
          <tr class="add-more">
            <td colspan="4"><a href="/signup"> + sign up for a Personal Plan</a></td>
          </tr>
        </tbody>
      </table>
      {{/if}}

      {{#if orgs}}
      <h3 class="push-down">Organizations</h3>
      <table class="subscriptions push-down">
        <thead>
          <tr>
            <th>name</th>
            <th>Paid Users</th>
            <th>Next Billing Date</th>
            <th>Monthly Fee</th>
            <th>cancellation date</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
          {{#each orgs}}
            <tr>
              <td><a href="/org/{{npm_org}}">@{{npm_org}}</href></td>
              <td>{{quantity}}</td>
              {{#if cancel_at_period_end}}
                <td>--</td>
              {{else}}
                <td data-date="{{next_billing_date}}" data-date-format="%e-%b-%y">
                  {{next_billing_date}}
                </td>
              {{/if}}
              <td>${{cost}}</td>
              {{#if cancel_at_period_end}}
                <td data-date="{{next_billing_date}}" data-date-format="%e-%b-%y">
                  Last date - {{next_billing_date}}
                </td>
                <td></td>
              {{else}}
                  <td>--</td>
                  <td>
                    <a href="/org/{{npm_org}}/confirm-delete" class="icon-x delete-package" rel="tipsy" original-title="delete this subscription"><span class="a11y-only">Delete Org {{npm_org}}</span></a>
                  </td>
              {{/if}}
            </tr>
          {{/each}}
          <tr class="add-more">
            <td colspan="6"><a href="#"> + create another Organization</a></td>
          </tr>
        </tbody>
      </table>
      {{else}}
      <table class="subscriptions">
        <tbody>
          <tr>
            <td colspan="4">You do not have any Organizations</td>
          </tr>
          <tr class="add-more">
            <td colspan="4"><a href="/org/create"> + create an Organization</a></td>
          </tr>
        </tbody>
      </table>
    {{/if}}
    </div><!--/.tab-1-->

    <div id="payment-information" class="tab tab-2">
      <h3>Payment Information</h3>
      {{> billing-info}}
    </div><!--/.tab-2-->
  </div><!--/.tabs-->
  {{else}}
    <div class="container narrow">
      <h3>Payment Information</h3>
      {{> billing-info}}
    </div>
  {{/if}}

</div>

<script src="https://js.stripe.com/v2/"></script>
<script src="https://static.accountdock.com/app.min.js"></script>
