{{> profile-secondary-nav}}

<div class="container narrow">

  <hgroup>
    <h1>your subscription info</h1>
  </hgroup>

  {{> email-verify-nag}}

  <h2>subscriptions</h2>
  {{#if subscriptions}}
    <table class="ruled subscriptions">
      <tbody>
        <tr>
          <th>Subscription Type</th>
          <th>Name</th>
          <th>Next Billing Date</th>
        </tr>
        {{#each subscriptions}}
          <tr>
          {{#if privateModules}}
            <td>Private Modules</td>
            <td>{{npm_user}}</td>
          {{else}}
            <td>Organization</td>
            <td>{{npm_org}}</td>
          {{/if}}
            <td data-date="{{next_billing_date}}" data-date-format="%B %e %Y">
              {{next_billing_date}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <p>You do not have any subscriptions</p>
  {{/if}}

  <h2>billing</h2>

  <div>
    {{#if customer}}

      <table class="ruled key-value card-info">
        <tbody>
          <tr>
            <td>Card Type</td>
            <td class="card-brand">{{customer.card.brand}}</td>
          </tr>
          <tr>
            <td>Last 4 Digits</td>
            <td class="card-last4">{{customer.card.last4}}</td>
          </tr>
          <tr>
            <td>Expiration</td>
            <td>
              <span class="card-exp-month">{{month-name customer.card.exp_month}}</span>
              <span class="card-exp-year">{{customer.card.exp_year}}</td></span>
          </tr>
        </tbody>
      </table>

      <p>
        You can also
        <a href="#" id="update-subscription-toggler">update payment info</a>
        or
        <a href="#" id="cancel-subscription-toggler">stop paying us</a>.
      </p>

    {{else}}
      <form method="POST" id="payment-form" data-stripe-public-key="{{stripePublicKey}}">

        <label for="card-number">Card Number</label>
        <input required="required" type="text" size="20" data-stripe="number" id="card-number" />

        <label for="card-cvc">Card security code</label>
        <input required="required" type="text" size="4" data-stripe="cvc" placeholder="123" class="cvc" id="card-cvc" />

        <label for="card-exp-month">Expiration Month</label>
        <input required="required" type="text" size="2" data-stripe="exp-month" placeholder="MM" id="card-exp-month" />

        <label for="card-exp-year">Expiration Year</label>
        <input required="required" type="text" size="4" data-stripe="exp-year" placeholder="YYYY" id="card-exp-year" />

        <label for="coupon">Coupon Code</label>
        <input type="text" size="20" data-stripe="coupon" id="coupon" name="coupon" />

        {{> form_security}}
        <input type="submit" class="full-width" value="{{#if customer}}update billing info{{else}}sign me up{{/if}}">

      </form>
    {{/if}}
  </div>

  {{#if user.email_verified}}

    <p class="error billing-error" style="display:none;"></p>

    <form method="POST" id="payment-form" data-stripe-public-key="{{stripePublicKey}}" style="display:none;">
      <label for="card-number">Card Number</label>
      <input required="required" type="text" size="20" data-stripe="number" id="card-number" />

      <label for="card-cvc">Card security code</label>
      <input required="required" type="text" size="4" data-stripe="cvc" placeholder="123" class="cvc" id="card-cvc" />

      <label for="card-exp-month">Expiration Month</label>
      <input required="required" type="text" size="2" data-stripe="exp-month" placeholder="MM" id="card-exp-month" />

      <label for="card-exp-year">Expiration Year</label>
      <input required="required" type="text" size="4" data-stripe="exp-year" placeholder="YYYY" id="card-exp-year" />

      <label for="coupon">Coupon Code</label>
      <input type="text" size="20" data-stripe="coupon" id="coupon" name="coupon" />

      {{> form_security}}
      <input type="submit" class="full-width" value="{{#if customer}}update billing info{{else}}sign me up{{/if}}">

    </form>
  {{/if}}

  {{#if customer}}
    <form id="cancel-subscription" action="/settings/billing/cancel" method="post" style="display:none">

      <p class="notice">
        Cancelling your private npm subscription is not so scary. It will have the following effects:
      </p>

      <ul>
        <li>
          Your private subscription will remain active until
          <strong data-date="{{customer.next_billing_date}}" data-date-format="%B %e %Y">
            {{customer.next_billing_date}}
          </strong>
        </li>
        <li>Your regular npm account will still exist.</li>
        <li>You can still access and publish to the public registry in all its glory.</li>
        <li>You will NOT have access to any private modules.</li>
        <li>Any private modules you've created will still be accessible to any paying users you've shared them with.</li>
        <li>Should you decide to resume your paid subscription, your private modules will still exist.</li>
      </ul>

      {{> form_security}}
      <input type="submit" value="Cancel my private npm subscription">
    </form>
  {{/if}}

  <h2>private modules</h2>

  {{#if canceled}}
    <p class="notice cancellation-notice">
      You have successfully cancelled your private npm subscription. Your free account
      still exists, as do any private modules that you created. Your private modules
      are still accessible to any other paid users you've shared them with. If you decide
      to start paying again, those modules will be waiting for you.
    </p>
  {{/if}}

  {{#if updated}}
    {{> twitter-tracking pid='l5xyy'}}

    <p class="notice update-notice">
      You have successfully updated your billing information.
      <br/><br/>
      Please run `npm login` on the command line (even if you are already logged in) to get all the benefits of private npm!
    </p>
  {{else}}
    {{> twitter-tracking pid='l5xz2'}}
  {{/if}}

  {{#if package}}
    <p class="notice payment-required-notice">
      Someone added you as a collaborator on the <a href="/package/{{package}}">{{package}}</a> package,
      but you'll need to sign up as a paying user before you can access the package.
    </p>
  {{/if}}

  {{#if customer.license_expired }}
    <p class="error license-expired">
      Your license has expired, and your account
      status is <strong>{{customer.status}}</strong>.
      Any private packages you've created still exist, but you
      will not be able to access them until your license is renewed.
    </p>
  {{/if}}

  <div>
    {{#if user.isPaid}}
      <p>You have private modules :-)</p>
    {{else}}
      <p>
        A paid account costs just <strong>$7 a month</strong> per user, and allows you to create
        and share an unlimited number of modules. The only limit is
        <a href="http://www.zombo.com/" target="_blank">yourself</a>.
      </p>

      <form method="POST" id="private-modules-form" action="/settings/billing/subscribe">
        {{> form_security}}
        <input type="hidden" name="planType" value="private_modules" />
        <input type="submit" class="full-width" value="sign up for private modules"/>
      </form>
    {{/if}}
  </div>

  <h2>orgs and teams</h2>

  <div>
    <p>
      Create your organization for free. To enable private modules in your
      organization, orgs cost just <strong>$6 a month</strong> per user, and
      allows you to create and share an unlimited number of modules. Plans start
      with 4 users. Dee dee
      <a href="http://www.hamsterdance.org/hamsterdance/" target="_blank">doo doo doo doo doo</a>.
    </p>

    <form method="POST" id="org-form" action="/settings/billing/subscribe">

      <label for="organization-name">Organization Name</label>
      <input required="required" type="text" id="organization-name" name="orgName" />

      {{> form_security}}
      <input type="hidden" name="planType" value="orgs" />
      <input type="submit" class="full-width" value="create my organization" />

    </form>
  </div>

  {{> errors}}

</div>

<script src="https://js.stripe.com/v2/"></script>
