<div class="container narrow">

  <hgroup>
    <h1>{{t "user.login.title"}}</h1>
    <h2>{{t "user.login.subtitle"}}</h2>
  </hgroup>

  {{> errors}}

  <form action='' method='post'>
    <label for="name">{{t "user.login.form.username"}}</label>
    <input type="text" id="name" name="name" tabindex=2 />

    <label for="password">{{t "user.login.form.password"}}</label>
    <input type="password" id="password" name="password" tabindex=3 />

    <input type="submit" class="full-width" value="{{t "user.login.form.submit"}}" />

    <p><a href="/forgot">{{t "user.login.form.forgot"}}</a> | <a href="/signup">{{t "user.login.form.signup"}}</a></p>
    {{> form_security}}
  </form>

</div>
