<div class="container narrow">

  <hgroup>
    <h1>Forgot password</h1>
    {{#unless users}}
    <p>
      Enter your username or email address below.</br>
      A link will be emailed to you.</br>
      Click the link, pick a new password.
    </p>
    {{/unless}}
  </hgroup>

  {{#if sent}}
    <hgroup>
      <h1>Forgot password</h2>
      <h2>An email has been sent.  Click the link when you get it.</h2>
    </hgroup>
  {{else}}

    {{#if error}}
      <p class="error">{{ error }}</p>
    {{/if}}

    {{#if users}}
      <hgroup>
        <h2>Found multiple usernames</h2>

        <p>Please choose a username:</p>
      </hgroup>
    {{/if}}

    <form class="login-forms" method="post">
      {{#if users}}

        <label for="names">Usernames</label>
        <select name="selected_name" id="names">
        {{#each users}}
          <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select>

        <input class="btn" type="submit" value="Choose">

      {{else}}

        <label for='name_email'>Username / Email</label>
        <input type="text" id='name_email' name='name_email'>

        <input class='btn' type='submit' value="Engage">

      {{/if}}

      <input type="hidden" name="crumb" value="{{crumb}}"/>
    </form>

  {{/if}}

</div>