<div class="container narrow">

  <hgroup>
    <h1>{{t "user.password.title"}}</h1>
    <h2>{{t "user.password.subtitle"}}</h2>
  </hgroup>

  {{#if sent}}
    <p class="center">{{t "user.password.emailed"}}</p>

    {{#if mail}} {{mail}} {{/if}}

  {{else}}

    {{#if error}}
      <p class="error">{{error}}</p>
    {{/if}}

    {{#if users}}
      <p>{{t "user.password.multipleUsernames"}}</p>
    {{/if}}

    <form class="login-forms" method="post">
      {{#if users}}
        <label for="names">Usernames</label>
        <select name="selected_name" id="names">
          {{#each users}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      {{else}}
        <label for='name_email'>your email address or npm username</label>
        <input type="text" id='name_email' name='name_email' autocorrect="off" autocapitalize="off">
      {{/if}}

      {{> form_security}}
      <input class="full-width" type="submit" value="{{t "user.password.form.submit"}}">
    </form>

  {{/if}}

</div>
