{{> profile-secondary-nav}}

<div class="container narrow">

  <hgroup>
    <h1>edit your profile</h1>
  </hgroup>

  {{#if showWelcomeMessage}}
    <p class="notice">
      Welcome to npm, {{user.name}}!
      If you check your <a href="mailto:{{user.email}}">{{user.email}}</a> inbox, you should see something from us :)
    </p>
  {{else}}
    {{#if showEmailSentNotice}}
      <p class="notice">
        If you check your <a href="mailto:{{user.email}}">{{user.email}}</a> inbox, you should see something from us :)
      </p>
    {{else}}
      {{> email-verify-nag}}
    {{/if}}
  {{/if}}

  {{> errors}}

  <form data-tab="profile" method="post" action="/profile-edit">
    {{#with user}}

      <label for="fullname">full name</label>
      <input type="text" id="fullname" name="fullname" value="{{resource.fullname}}">
      <p class="help-text example">Wombat Watson</p>

      <label for="homepage">homepage</label>
      <input type="text" id="homepage" name="homepage" value="{{resource.homepage}}" autocorrect="off" autocapitalize="off">
      <p class="help-text example">wombats-rule.com</p>

      <label for="github">github</label>
      <input type="text" id="github" name="github" value="{{resource.github}}" autocorrect="off" autocapitalize="off">
      <p class="help-text example">wombat</p>

      <label for="twitter">twitter</label>
      <input type="text" id="twitter" name="twitter" value="{{resource.twitter}}" autocorrect="off" autocapitalize="off">
      <p class="help-text example">wombat</p>

      <label for="freenode">freenode</label>
      <input type="text" id="freenode" name="freenode" value="{{resource.freenode}}" autocorrect="off" autocapitalize="off">
      <p class="help-text example">wombat</p>

      <label for="npmweekly">
      <input type="checkbox" id="npmweekly" name="npmweekly" value="on" {{#if resource.npmweekly}}checked{{/if}}>
        subscribe to the npm weekly</label>

    {{/with}}

    {{> form_security}}
    <input type="submit" value="save" class="full-width">

  </form>

  <p class="change-avatar">
    <a href="https://en.gravatar.com/emails/"><img src="{{user.avatar.small}}"></a>
    <span>Change your avatar at </span><a href="https://en.gravatar.com/emails/">gravatar.com</a>
  </p>

  <p>
    Need to change your email address?
    <a href="/email-edit">Right this way.</a>
  </p>

</div>
