{{#with profile}}

<div id="profile">

  <div class="layout-left">
    {{#if packages}}
      <h2>Packages by {{name}}</h2>
      <ul class="bullet-free">
        {{#each packages}}
        <li><a href="{{url}}">{{name}}</a> {{description}}
        </li>
        {{/each}}
      </ul>
    {{/if}}

    {{#if starred}}
      <h2>Packages Starred by {{name}}</h2>
      <ul class="bullet-free">
        {{#each starred}}
        <li><a href="{{url}}">{{name}}</a> {{description}}
        </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>

  <div class="layout-right">

    {{#if isSelf}}
      <a href="http://en.gravatar.com/emails/" class="avatar">
        <img src="{{avatarLarge}}">
      </a>
    {{else}}
      <a href="/~{{name}}" class="avatar">
        <img src="{{avatarLarge}}">
      </a>
    {{/if}}

    <h2>{{fullname}}</h2>

    {{#if isSelf}}
      <ul class="micro-menu">
        <li><a href=/profile-edit>Edit Profile</a></li>
        <li><a href=/password>Change Password</a></li>
        <li><a href="http://gravatar.com/emails/">Change Picture</a></li>
      </ul>
    {{/if}}

    <ul class="meta">

      {{#if meta.github}}
        <li class="github">
          <a href="https://github.com/{{meta.github}}">@{{meta.github}}</a> on GitHub
        </li>
      {{/if}}

      {{#if meta.twitter}}
        <li class="twitter">
          <a href="https://twitter.com/{{meta.twitter}}">@{{meta.twitter}}</a> on Twitter
        </li>
      {{/if}}

      <li class="npm">
        <a href="https://npmjs.org/~{{name}}">@{{name}}</a> on npm
      </li>

    </ul>

  </div>

</div>
{{/with}}
