{{#with profile}}

<div class="content-column">

  <h1>{{name}}</h1>

  {{#if packages}}
    <h2 class="undecorated">
      <a id="packages" href="#packages">
        {{pluralize packages.count "Packages" true}} by {{name}}
      </a>
    </h2>
    <ul class="bullet-free collaborated-packages">
      {{#each packages.items}}
        <li>
          <a href="/package/{{name}}">{{truncate name 50}}</a> {{description}}
        </li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if stars}}
    <h2 class="undecorated">
      <a id="starred" href="#starred">
        {{pluralize stars.length "Packages" true}} starred by {{name}}
      </a>
    </h2>
    <ul class="bullet-free starred-packages">
      {{#each stars}}
        <li>
          <a href="/package/{{this}}">{{truncate this 50}}</a> {{description}}
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>

<div class="sidebar">

  {{#if isSelf}}
    <a href="http://en.gravatar.com/emails/" class="avatar">
      <img src="{{#if avatar.large}}{{avatar.large}}{{else}}{{avatar.medium}}{{/if}}">
    </a>
  {{else}}
    <a href="/~{{name}}" class="avatar">
      <img src="{{#if avatar.large}}{{avatar.large}}{{else}}{{avatar.medium}}{{/if}}">
    </a>
  {{/if}}

  {{#if isSelf}}
    <p class="notice profile-edit">
      This is your profile page, {{name}}! You can
      <a href="/profile-edit">update your social info</a>,
      <a href="/password">change your password</a>, or
      <a href="http://gravatar.com/emails/">update your avatar</a>.
    </p>

    {{> email-verify-nag}}
  {{/if}}

  {{#if resource.fullname}}
    <h2 class="fullname">{{resource.fullname}}</h2>
  {{/if}}

  <ul class="meta">

    {{#if emailObfuscated}}
      <li class="email">
        <a href="#" data-email={{emailObfuscated}}>obfuscated</a>
      </li>
    {{/if}}

    {{#with resource}}

      {{#if homepage}}
        <li class="homepage">
          <a href="{{homepage}}">{{schemeless homepage}}</a>
        </li>
      {{/if}}

      {{#if github}}
        <li class="github">
          <a href="https://github.com/{{github}}">@{{github}}</a> on GitHub
        </li>
      {{/if}}

      {{#if twitter}}
        <li class="twitter">
          <a href="https://twitter.com/{{twitter}}">@{{twitter}}</a> on Twitter
        </li>
      {{/if}}

      {{#if freenode}}
        <li class="freenode">
          <a href="irc://chat.freenode.net/npm">{{freenode}}</a> on freenode
        </li>
      {{/if}}

    {{/with}}

    <li class="npm">
      <a href="/~{{name}}">@{{name}}</a> on npm
    </li>

  </ul>

</div>

{{/with}}
