{{> profile-secondary-nav}}

<div class="container narrow">

  <hgroup>
    <h1>Edit your Profile</h1>
  </hgroup>

  {{> errors}}

  <form data-tab="profile" method="post" action="/profile-edit">
    {{#with user}}

      <label for="fullname">full name</label>
      <input type="text" id="fullname" name="fullname" value="{{fullname}}">
      <p class="help-text example">wombat watson</p>

      <a href="/email-edit" class="email-label">email address</a>
      <a href="/email-edit" class="email-field">
        <input type="text" id="email" name="email" value="{{email}}" disabled='disabled'>
      </a>

      <label for="homepage">homepage</label>
      <input type="text" id="homepage" name="homepage" value="{{homepage}}">
      <p class="help-text example">wombats-rule.com</p>

      <label for="github">github</label>
      <input type="text" id="github" name="github" value="{{github}}">
      <p class="help-text example">wombat</p>

      <label for="twitter">twitter</label>
      <input type="text" id="twitter" name="twitter" value="{{twitter}}">
      <p class="help-text example">wombat</p>

      <label for="freenode">freenode</label>
      <input type="text" id="freenode" name="freenode" value="{{freenode}}">
      <p class="help-text example">wombat</p>

    {{/with}}

    {{> form_security}}
    <input type="submit" value="save" class="full-width">

  </form>

  <p class="change-avatar">
    <a href="https://en.gravatar.com/emails/"><img src="{{user.avatarMedium}}"></a>
    Change your avatar at <a href="https://en.gravatar.com/emails/">gravatar.com</a>
  </p>

</div>
