<div class="container narrow">

  <hgroup>
    <h1>{{t "user.signup.title"}}</h1>
    <h2>{{t "user.signup.subtitle"}}</h2>
  </hgroup>

  {{> errors}}

  <form action="" method="post">
    <label for="name">{{t "user.signup.form.username"}}</label>
    <input type="text" id="name" name="name" autocorrect="off" autocapitalize="off" />
    <p class="help-text">{{t "user.signup.form.nameHelp"}}</p>

    <label for="password">{{t "user.signup.form.password"}}</label>
    <input type="password" id="password" name="password" />

    <label for="verify">{{t "user.signup.form.verify"}}</label>
    <input type="password" id="verify" name="verify" />

    <label for="email">{{t "user.signup.form.email"}}</label>
    <input type="text" id="email" name="email" autocorrect="off" autocapitalize="off" />
    <p class="help-text">{{{t "user.signup.form.emailHelp"}}}</p>

    <input type="submit" class="full-width" value="{{t "user.signup.form.submit"}}" />
    {{> form_security}}
  </form>

</div>
